
        
        <div class="initialTextAlign" id="pills-tabContent" style="text-align: initial;">
  <div class="">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="row m0">
        <div class="sideMenu">
          <!----------------------------------------------------------------Side Nagvigation-------------------------------------------------------------->
          <ul aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
            <li class="nav-link intro active"><a href="#0" role="tab" (click)="passListId($event)" id="basicDetails" (click)="passListId('#basicDetails')">Basic Details</a></li>
            <li class="nav-link intro"><a href="#0" role="tab" (click)="passListId($event)" id="mobileNumber" (click)="passListId('#mobileNumber')">Mobile number</a></li>
            <li class="nav-link intro"><a href="#0" role="tab" (click)="passListId($event)" id="credentials" (click)="passListId('#credentials')">Credentials</a></li>
            <!-- <li class="nav-link intro"><a href="#0"  role="tab" (click)="passListId($event)" id="whitelistIpList">Additional Fields</a></li>
            <li class="nav-link intro"><a href="#0"  role="tab"  id="userGuide" (click)="UAT_help(UAT_Help)" >User Guide <span class="help-ico"><i _ngcontent-c2="" aria-hidden="true" class="fa fa-question-circle"></i></span></a></li> -->

    

           
        <!-- ===================================== -->
        <!--Production Confirmation alert modalbox -->
        <!-- ===================================== -->  

        <ng-template #UAT_Help>
          <div class="modal-header">
            <h3></h3>
            <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button> -->
            <button data-dismiss="modal" class="material-icons close" (click)="modalRef.hide()">
              close
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mb-xs-10">
                <form id="regForm" method="POST" name="regForm" action="">
                  <div class="tab disp-block">
                    <div class="tabContent">
                      <ul class="breadcrumb">
                        <li>
                          <a [ngStyle]="{ color: active }" (click)="HWI_link(1)">Guideline <i
                              class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                          <a [ngStyle]="{ color: active }" (click)="HWI_link(2)">Basic Details <i
                              class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                          <a [ngStyle]="{ color: active }" (click)="HWI_link(3)">Requested API <i
                              class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                          <a [ngStyle]="{ color: active }" (click)="HWI_link(4)">Whitelist IP <i
                              class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                          <a [ngStyle]="{ color: active }" (click)="HWI_link(5)">Onboarding Request</a>
                        </li>
                      </ul>
                      <div class="row mb30" *ngIf="showTab == '1'">
                        <div class="col-md-12 mb-xs-10">
                          <h6 class="fw600">
                            From signing up with Developer Portal to going live in our
                            production environment is a four-step process.
                          </h6>
                          <p>
                            The amount of time this will take depends on the APIs you
                            are using, your business model and the time and resources
                            you have available.
                          </p>
                        </div>
                        <div class="col-md-12">
                          <h6 class="fw600">Step 01 - SignUp</h6>
                          <p>
                            To get access to our sandbox and start testing our APIs
                            straight away you register at Developer Portal.
                          </p>
                        </div>
                        <div class="col-md-12 mb-xs-30">
                          <h6 class="fw600">
                            Step 02 - Talk to us about how we can help your business
                          </h6>
                          <p>
                            Contact us or get in touch with the RM assigned to you at
                            any point and learn how our APIs can be customized to your
                            needs.
                          </p>
                        </div>
                        <div class="col-md-12 mb-xs-30">
                          <h6 class="fw600">
                            Step 03 - Get On-Board with UAT
                          </h6>
                          <ul>
                            <li>
                              In this our development team will get in touch with you
                              and help you develop the required APIs according to the
                              specifications provided by you.
                            </li>
                            <li>
                              For that you will need to raise a UAT request and provide
                              some basic details about the required project.
                            </li>
                            <li>
                              For each raised request in UAT, it will have a unique ID
                              assigned to it which will allow you to keep a track of the
                              whole UAT development process.
                            </li>
                            <li>
                              Post the whole UAT development process the status of the
                              request would turn to complete and then we are ready to
                              make your services live.
                            </li>
                            <li>
                              Production access – You will need to fill a similar form
                              for final production access.
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-12 mb-xs-30">
                          <h6 class="fw600">Step 04 - Go Live</h6>
                          <p>
                            You’re now ready to launch! Our production support team will
                            be there to ensure the whole process is seamless.
                          </p>
                        </div>
                      </div>
                      <div class="row mb30 col-md-12" *ngIf="showTab == '2'">
                        <div class="col-md-6">
                          <img src="assets/images/step1.png" class="frame" width="100%" />
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <h6>Step 01 - Enter you Organization name.</h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 02 - Provide Basic Details about your organization.
                            </h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 03 - Provide first point of contact(POC) from your
                              organization from business perspective.
                            </h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>Step 04 - Provide SPOC Contact Number.</h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 05 - Provide ICICI Bank contact RM for your selected
                              product’s domain. Provided in the initial registration
                              mail or you can add apidevteam@icicibank.com
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="row mb30 col-md-12" *ngIf="showTab == '3'">
                        <div class="col-md-6">
                          <img src="assets/images/step5.png" class="frame" width="100%" />
                        </div>
                        <div class="col-md-6">
                          <img src="assets/images/step4.png" class="frame" width="100%" />
                        </div>
                        <div class="col-md-12 mt20">
                          <div class="col-md-12">
                            <h6>
                              Step 06 - Select your domain and related APIs to that
                            </h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 06.1 - If your requirement needs a crossover of
                              domains, please raise multiple onboarding request for each
                              domain separately.
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="row mb30 col-md-12" *ngIf="showTab == '4'">
                        <div class="col-md-6">
                          <img src="assets/images/step2.png" class="frame" width="100%" />
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <h6>
                              Step 07 - Provide the IP of the service that would connect
                              to ICICI bank. For security measures each IP from third
                              party needs to be whitelisted for authentication
                            </h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 08 - Provide Callback URL- this acts as a failsafe
                              check, if any request looses it’s connection in between
                              the communication, on which ICICI bank will provide the
                              information regarding a particular communication.
                            </h6>
                            <h6>
                              Step 09 - Provide your public certificate which would be
                              used for encryption/decryption of the data which would
                              communicate between your organization’s service and ICICI
                              Bank.
                            </h6>
                            <h6>
                              Download ICICI Bank NDA and submit it to ICICI Bank RM
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="row mb30 col-md-12" *ngIf="showTab == '5'">
                        <div class="col-md-6">
                          <img src="assets/images/step6.png" class="frame" width="100%" />
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <h6>
                              Step 10 - Your request is assigned a Unique Request ID
                              which will help you to trace the status of your request,
                              while it is being assessed by our business and technical
                              teams.
                            </h6>
                          </div>
                          <div class="col-md-12 mb-xs-30">
                            <h6>
                              Step 11 - You can view the status of all your onboarding
                              requests raised by you
                            </h6>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <img src="assets/images/step3.png" class="frame" width="100%" />
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>     
            </div>
          </div>
        </ng-template>
        <!-- End Modalbox -->

            
          </ul>
          <!----------------------------------------------------------------Side Nagvigation-------------------------------------------------------------->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- *ngIf="parentDataDomainName === 'BusinessBanking'" -->