table.table thead td:first-child {
    width: auto;
}
#View_Detail> .modal-dialog {
     max-width: 70% !important ;
}
.modal-dialog {
    width: 80%;
    margin: auto;
  }
  .modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    max-width: 66% !important;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 70% !important ;
        margin: 1.75rem auto;
    }
}
