
.nestedTabs .nav-item.show .nav-link, .nestedTabs .nav-link.active{
    border-bottom: 2px solid #ae282e;
    
    color: black !important;
    background-color: #ffffff;

}
.ml0{
    margin-left: 0px;
}
.fs24 {
    font-size: 20px !important;
}