<toaster-container></toaster-container>
<ng4-loading-spinner> </ng4-loading-spinner>  
<div class="tab-content">
    <div class=" mb50 col-md-4 marginAutoHr">
        <div class="row mb10">
             <div class="col-md-12">
                <div class="modal-header">
                    <h3 class="modal-title pull-left"> Change your password </h3>
                </div>
               
            </div>
        </div>
        <form [formGroup]="ChangepasswForm" novalidate>
          <div class="row mb10">  
          <div class="col-md-12">
            <div class="ml"><label for="currentpassword" type="password">Current Password:</label></div>
            <input    formControlName="passwordold" type="password" class="input-login" name="passwordold" class="form-control"  >
            <div *ngIf="ChangepasswForm.controls['passwordold'].touched">
             <div class="text-danger" *ngIf="ChangepasswForm.controls['passwordold'].hasError('required')">
               Current Password is Required.
             </div>
             
           </div>
            </div>
          </div>

            <div class="row mb10">         
                
                   
                   <div class="col-md-12">
                   <label for="password" >Enter New Password:</label>
                   <input id="password" formControlName="password" type="password" class="form-control" >
                   <!-- <label class="text-danger col" *ngIf="frmSignup.controls['password'].hasError('required')">
                     Password is Required!
                   </label> -->
                   <div  *ngIf="ChangepasswForm.controls['password'].touched || ChangepasswForm.controls['password'].dirty" >
                     <br>
                   
                   <label class="col" [ngClass]="ChangepasswForm.controls['password'].hasError('required') || ChangepasswForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                     <i class="material-icons">{{ ChangepasswForm.controls['password'].hasError('required') ||
                        ChangepasswForm.controls['password'].hasError('minlength') ? 'cancel' :
                       'check_circle' }}</i>
                     Must be at least 8 characters.
                   </label>
                   <label class="col" [ngClass]="ChangepasswForm.controls['password'].hasError('required') || ChangepasswForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                     <i class="material-icons">{{ ChangepasswForm.controls['password'].hasError('required') ||
                        ChangepasswForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                       'check_circle' }}</i>
                     Must contain at least 1 number.
                   </label>
                   <label class="col" [ngClass]="ChangepasswForm.controls['password'].hasError('required') || ChangepasswForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                     <i class="material-icons">{{ ChangepasswForm.controls['password'].hasError('required') ||
                        ChangepasswForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                       'check_circle' }}</i>
                     Must contain at least 1 upperccase letter.
                   </label>
                   <label class="col" [ngClass]="ChangepasswForm.controls['password'].hasError('required') || ChangepasswForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                     <i class="material-icons">{{ ChangepasswForm.controls['password'].hasError('required') ||
                        ChangepasswForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                       'check_circle' }}</i>
                     Must contain at least 1 lowercase letter.
                   </label>
                   <label class="col" [ngClass]="ChangepasswForm.controls['password'].hasError('required') || ChangepasswForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                     <i class="material-icons">{{ ChangepasswForm.controls['password'].hasError('required') ||
                        ChangepasswForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                       'check_circle' }}</i>
                     Must contain at least 1 Special Character.
                   </label>
                 </div>
                   </div>
                </div>
             
             <div class="row mb10">
               <!-- <div class="col-md-12">
                   <div class="ml"><label for="password" type="password">Re-Type your password</label></div>
                   <input formControlName="confirmPassword" name="password" type="password" class="input-login">
                   <div class="ml">
                    <div *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.errors" class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required" class="text-danger">Please enter new password </div>
                      <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="text-danger ">
                        Password doesn't match.
                      </div>
                      
                   </div>
                   
                    </div>
                    <div *ngIf="confirmPassword.valid" class="alert-success">Password match</div>
                    </div> -->
                    <div class="col-md-12">
          
                        <label for="confirmPassword" >Confirm New Password:</label>
                        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" >
                        <div  *ngIf="ChangepasswForm.controls['confirmPassword'].touched" >
                        <label class="text-danger" *ngIf="ChangepasswForm.controls['confirmPassword'].hasError('required')">
                          Password is Required.
                        </label>
                        <label class="text-danger" *ngIf="ChangepasswForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                          Password does not match.
                        </label>
                        </div>
                        <label class="text-success" *ngIf="ChangepasswForm.controls['confirmPassword'].valid">
                          Password match.
                        </label>
                        </div>
                       
                </div>
             
               <div class="row mb10">
                   <div class="col-md-12">
                       <button type="submit" class="signInBtn w100p"  (click)="save()" [attr.disabled] ="ChangepasswForm.controls['confirmPassword'].valid? null:true">Change password</button>
                   </div>
               </div>
        </form>
    
    </div>
</div>