<div class="tab-content">
  <div class="wrapper">

    <!--    <header>
          <nav>
            <div class="container"> <a href="javascript:void();" class="logo"><img src="assets/images/new-images/logo.png" alt=""></a>
            </div>
          </nav>
          <div class="responsive-bar">
            <div class="container"> <a href="javascript:void();" class="logo"><img src="assets/images/new-images/logo.png" alt=""></a>
            </div>
          </div>
        </header> -->

    <div id="mainBanner">
      <div class="container">
        <div class="bannerImg">
          <div class="txt">
            <p class="lrg">Start API Banking</p>
            <p>4000 businesses registered with <br>
              us recently, join them!</p>
            <p class="blue-box">Make seamless transaction every time</p>
          </div>
        </div>


        <div class="formSec">
          <div id="form-section" class="">
            <div class="container-form">
              <div class="title">Let's get Connected</div>
              <div class="title1">Fill in details to get attractive bulk discounts for corporates</div>
              <form id="contact_form" autocomplete="off" method="POST" name="regForm" action="" role="form">
                <div class="mobile_f">
                  <input id="name" type="text" placeholder="" name="name" [(ngModel)]="Inter_full_name"
                    class="blue_shadow" required>
                  <label>Full Name*</label>
                </div>
                <div class="mobile_f">
                  <input id="mobile" type="text" placeholder="" name="mobile" [(ngModel)]="Inter_contactnumber"
                    class="blue_shadow" required>
                  <label>Mobile Number</label>
                </div>



                <div class="input-group mb-3" *ngIf="sent_otp">
                  <input type="text" class="form-control" placeholder="Enter OTP" [(ngModel)]="otp_code"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2" *ngIf="!otp_invalid" (click)="verifyOtp1()">Verify
                      OTP</span>
                    <span class="input-group-text" id="basic-addon2" *ngIf="otp_invalid" (click)="SendOtp()">Resend
                      OTP</span>
                  </div>
                </div>






                <div class="mobile_f">
                  <input id="email" type="email" placeholder="" name="email" [(ngModel)]="Inter_email"
                    class="blue_shadow" required>
                  <label>Email Address</label>
                </div>
                <div *ngIf="submitSucces">
                  <i *ngIf="true" class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  Thank your for your response.
                </div>
                <a class="org-btn-b" (click)="inter_submit()" *ngIf="!submitSucces"><span class="sub">talk to a
                    specialist</span><i class="tooltip tool-info"><img src="assets/images/new-images/info-icon.png"
                      alt=""><span>You can to talk to a member of our digital team</span></i></a>
                <button name="submit" type="submit" id="" class="org-btn" (click)="goToSignup()"><span class="sub">sign
                    up to test</span><i class="tooltip tool-info"><img src="assets/images/new-images/info-icon.png"
                      alt=""><span>You can sign up to the portal to proceed for testing in Sandbox
                      environment</span></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>

  <div class="benefit">
    <div class="container">
      <div class="clearfix">
        <div class="left">
          <h2><span>Key Benefits</span> of API Banking</h2>
        </div>
        <div class="right">
          <ul class="detail-list">
            <li>Direct integration and Instant solution</li>
            <li>Secured medium of integration</li>
            <li>Financial Data Integration</li>
          </ul>
          <ul class="detail-list">
            <li>Highly efficient mode of banking</li>
            <li>Saves your valuable time</li>
            <li>Integrated Solution</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="whats-api">
    <div class="container">
      <div class="clearfix">
        <div class="wapi-left">
          <h2><span>What is</span> API Banking?</h2>
          <p>API BankingIt involves the use of APIs that have access to the core system of a bank. Open Bankingis a term
            synonymous to API banking used globally. The APIs can then be used by 3rd parties within their
            organization/platform or be offered to the consumers for a more personalized banking experience. It has
            provided businesses and consumers easy access to custom banking services while also ensuring complete safety
            and enhanced efficiency.</p>
          <a class="btn btnenquire " >
            <img src="assets/images/new-images/enquire-now-btn.png"  alt="ENQUIRE NOW"></a>
        </div>
        <div class="wapi-right"> <img src="assets/images/new-images/api-transfer.png" alt="Image"> </div>
      </div>
    </div>
  </div>

  

  <div class="how-works">
    <div class="container">
      <h2><span>How it</span> Works?</h2>
      <p> Get your developers onboard, very quickly.<br>Learn how to incorporate our ICICI Bank APIs in just few easy
        steps. </p>
      <div class="inner-container clearfix">
        <div class="works work-one"> 
          <a class="howItWorksContainer"  ><img  src="assets/images/new-images/icn-1.jpg" alt=""></a>
          <h3>Sign up account</h3>
          <p>Go to www.developer.icicibank.com <br>
            and sign up your account</p>
        </div>
        <div class="works work-two"> <img src="assets/images/new-images/icn-2.jpg" alt="">
          <h3>Select API</h3>
          <p>Explore APIs in the portal and select <br>
            the API want to test</p>
        </div>
        <div class="works work-three"> <img src="assets/images/new-images/icn-3.jpg" alt="">
          <h3>Test it out</h3>
          <p>Test your application Integration with <br>
            virtual APIs on the portal</p>
        </div>
      </div>
      <a [routerLink]="['/signUpPage']" class="btn btn-signuptest"><img src="assets/images/new-images/signup-test-btn.png"
         alt="sign up to test"></a>



     
    </div>
  </div>

  <div class="journey">
    <div class="container">
      <div class="clearfix">
        <div class="leftside">
          <h2><span>Journey to</span> go Live</h2>
        </div>
        <div class="rightside">
          <div class="clearfix">
            <div class="journey-step step-1">
              <h3><a [routerLink]="['/signUpPage']" ><img src="assets/images/new-images/journey-icn-1.jpg" alt="image"></a>Sandbox</h3>
            </div>
            <div class="journey-step step-2">
              <h3><a [routerLink]="['/uatonboarding-dashboard']" ><img src="assets/images/new-images/journey-icn-2.jpg" alt="image"></a>UAT</h3>
            </div>
            <div class="journey-step step-3">
              <h3><a [routerLink]="['/productionOnboardingPage']" ><img src="assets/images/new-images/journey-icn-3.jpg" alt="image"></a>Production</h3>
            </div>
          </div>
          <p>Signup to ICICI Bank API Banking Portal Sandbox environment to start your journey. Upgrade to UAT
            environment for end to end real time testing , post your NDA with us. Go-live with integration to production
            environment.</p>
          <p class="desclaimer">*Disclaimer : Access to UAT &amp; Production environment is subject to business
            approvals, NDA and other agreements, and is a sole discretion of ICICI Bank.</p>
        </div>
      </div>
    </div>
  </div>

  




 <!--New carousel-->

 <section class="sectionAPIs sectionAPIsGrayBg" id="partners">
  <div class="container text-center my-3 ">
    <h3 class="title">Explore our <span>APIs</span></h3>

  
    <div class="row mx-auto my-auto">
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
           
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-1.png" alt="">
                 
                </div> <p class="heading"> Building Blocks</p>   
               
    
                <p  >
                  Building Blocks APIs provide you with the most essential APIs you require to integrate with number of
              services of the bank. Run checks and crosses using out fundamental APIs such as CIBIL score check, PAN
              card information. </p>
                
              </div>
            </div>

          </div>
          <div class="carousel-item  ">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-2.png" alt="">
                 
                </div> <p class="heading"> Business Banking</p>   
               
    
                <p  >
                  Empower your corporate's banking with seamless APIs which enable your corporation to make Efficient
              Transactions, Expeditious Cash Deposits, Smart Reconciliation, and Personalised Management Systems. </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-3.png" alt="">
                 
                </div> <p class="heading">Loans and Cards</p>   
               
    
                <p  >
                  Explore, develop, and integrate innovative solutions for various loan products (AL, HL, Loan Top-up, Loan
                  Management) and Credit Card products (Customer Search, Remaining Credit Limit, etc) to cater to your
                  prospects, existing, and upcoming customers.</p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-4.png" alt="">
                 
                </div> <p class="heading"> Accounts &amp; Deposits</p>   
               
    
                <p  >
                  Empower your customers to invest and do banking with you by integrating with umpteen services in the
              domain of Savings (Savings Accounts, Corporate Account) and deposits (Fixed Deposits, Recurrent Deposits).</p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-5.png" alt="">
                 
                </div> <p class="heading">Payments & UPI</p>   
               
    
                <p  >
                  Find the most sought after APIs in the industry to introduce payment services tailor made to serve your
              needs. Multitude of payment services to integrate your payment services to integrate to the outside world.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-6.png" alt="">
                 
                </div> <p class="heading"> Trade Service</p>   
               
    
                <p  >
                  Incorporate remittances and bank guarantees APIs to make your trade and business easy with our latest
              offerings tailormade as per the latest requirements of the market. </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <div class="card card-body1" style="padding: 10px;">
                <div class="mb9 text-center cardsImage fdIcoBx fd1">
                  <img src="assets/images/new-images/icon-7.png" alt="">
                 
                </div> <p class="heading"> Corporate API Suite</p>   
               
    
                <p  >
                  We bring to you corporate API suite a bouquet of APIs selected specially to cater to the evolving needs
                  of corporate clients. We have come up with this assortment of APIs after carefuly studying the needs and
                  journey of the corporates. Please feel free to browse and choose from our thoughtful API offerings.</p>
                
              </div>
            </div>
          </div>


        </div>
        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
            aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
            aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
</section>
<!--End new carousel-->













  <div class="footer">
    <div class="container">
      <div class="copyright clearfix">
        <p>Copyright 2020 ICICI Bank Ltd. All rights reserved.</p>
        <p>Terms and Conditions of ICICI Bank apply. ICICI Bank is not responsible for third party products, good,
          services and offers.</p>
      </div>
    </div>
  </div>

</div>
<!--How It Work modalbox -->
<ng-template #modal_hwi>
  <div class="modal-header">
    <h3></h3>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button> -->
    <button data-dismiss="modal" class="material-icons close" (click)="modalRef.hide()">
      close
    </button>
  </div>
  <div class="modal-body">
    <div class="row md30">
      <div class="col-md-12 mb-xs-10">
        <form id="regForm" autocomplete="off" method="POST" name="regForm" action="">
          <div class="tab disp-block">
            <div class="tabContent">
              <ul class="breadcrumb">
                <li>
                  <a [ngStyle]="{ color: active }" (click)="HWI_link($event,1)" id="tab1">
                    Sign up <i class="fa fa-angle-right"></i></a>
                </li>
                <li>
                  <a [ngStyle]="{ color: active }" (click)="HWI_link($event,2)" id="tab2">
                    Select API <i class="fa fa-angle-right"></i></a>
                </li>
                <li>
                  <a [ngStyle]="{ color: active }" (click)="HWI_link($event,3)" id="tab3">Test it Out </a>
                </li>
                <!-- <li>
                  <a [ngStyle]="{ color: active }" (click)="HWI_link(4)">Test it Out <i
                      class="fa fa-angle-right"></i></a>
                </li> -->
                <!-- <li>
                  <a [ngStyle]="{ color: active }" (click)="HWI_link(5)">Get Sample Code</a>
                </li> -->
              </ul>
              <div class="row mb30" *ngIf="showTab == '1'">
                <div class="col-md-12 mb-xs-10">
                  <h6 class="fw600">
                    If you already have an account, then sign in and jump to
                    step 2. Else follow the steps to create an account
                  </h6>
                  <h6 class="fs14 pt8">
                    <span class="stepNumber stepNumber mr-1">Step 1:</span>Go to our
                    sign-up page.
                  </h6>
                </div>
                <div><br>
                  <p style="font-size: 13px;">a. Enter your Credentials.</p>
                  <img src="assets/images/SignUp1.png" class="frame" width="100%" />
                </div>
                <div><br>
                  <p style="font-size: 13px;">b. Verify your Mobile Number.</p>
                  <img src="assets/images/SignUp2.png" class="frame" width="100%" />
                </div>
                <div><br>
                  <p style="font-size: 13px;">c. Create Username and Password</p>
                  <img src="assets/images/SignUp3.png" class="frame" width="100%" />
                  <br /><br />
                </div><br>
                <div class="col-md-12 mb-xs-10">
                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 2:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">Complete
                        the registration by entering your details and create an
                        account.</p>
                    </h6>
                  </div>
                  <br />
                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 3:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">When authorized, an email will be sent to your registered
                        email-id with a link to activate your account by logging in.
                        You now have access to your dashboard. From here you can
                        create and configure your apps.</p>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="row mb30" *ngIf="showTab == '2'">
                <div class="col-md-12 mb-xs-10">
                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 1:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">In order to select an API, go to the Documentation
                        page.The left-hand side navigation pane consists of all the APIs in a hierarchial tree
                        structure.</p>
                    </h6>
                  </div>

                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 2:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">On clicking a selected API, the details related to it (such as
                        Input/Output parameters, Sample packets etc) will be populated on the main screen.</p>
                    </h6>
                    <img src="assets/images/image11.png" class="frame " width="100%" />
                  </div>

                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 3:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">By clicking the Test API button at the bottom right, you can test how
                        the API will respond in a simulated live environment.</p>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="row mb30" *ngIf="showTab == '3'">

                <div class="col-md-12 mb-xs-10">
                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 1:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">On Clicking the Test API button, a pop-up is opened. This pop-up is
                        prepopulated with a sample request packet as shown in the image. The user can select the content
                        type from the content type dropdown.</p>
                    </h6>
                    <img src="assets/images/image22.png" class="frame" width="100%" />
                  </div>
                  <div class="row mb30">
                    <h6 class="fs12 color-black ">
                      <span class="stepNumber stepNumber mr-1">Step 2:</span>
                    </h6>
                    <h6 class="col-md-10 pdl-0">
                      <p class="fs12 color-black ">Once the sample request packet is loaded, on clicking Test button at
                        the bottom right of the pop-up, the response packet is returned as shown in the image.</p>
                    </h6>
                    <img src="assets/images/image33.png" class="frame" width="100%" />
                  </div>
                </div>

              </div>
              <!-- <div class="row mb30" *ngIf="showTab == '4'">
                <div class="col-md-6 mb30">
                  <h6 class="fs14 pt8">
                    <span class="stepNumber stepNumber mr-1">#1</span>Once the
                    API Key value is supplied, you can copy your request packet
                    details into the box below and test it out! The developer
                    portal will provide the responses to your requests in real
                    time.
                  </h6>
                  <img src="assets/images/TryitOut.png" class="frame" width="100%" />
                </div>
              </div> -->
              <!-- <div class="row mb30" *ngIf="showTab == '5'">
                <div class="col-md-6 mb30">
                  <h6 class="fs14 pt8">
                    <span class="stepNumber stepNumber mr-1">#1</span>Once you
                    get responses to your requests in real time. You can click
                    on Query Tab, check the sample code and use it in your
                    application.
                  </h6>
                  <img src="assets/images/sampleCode.png" class="frame" width="100%" />
                </div>
              </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<!-- End Modalbox --> 



<!--iAmInterested-->
<ng-template #Interesteds>
  <div class="modal-header">
    <h3>Let's get Connected</h3>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button> -->
    <button data-dismiss="modal" class="material-icons close" (click)="modalRef.hide()">
      close
    </button>
  </div>
  <div class="modal-body">
    <form id="regForm" autocomplete="off" method="POST" name="regForm" action="">
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-10">
          <div><label for="contactPerson">Full Name</label></div>
          <input class="w100p fs12" name="fullName" [(ngModel)]="Inter_full_name" />
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-10">
          <div><label for="contactPerson">Email ID</label></div>
          <input class="w100p fs12" name="email" [(ngModel)]="Inter_email" />
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-30">
          <div><label for="contactPerson">Contact Number</label></div>
          <input type="number" class="w100p fs12" name="contactnumber" [(ngModel)]="Inter_contactnumber" />
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-30">
          <div><label for="location">Location</label></div>
          <input class="w100p fs12" name="location" [(ngModel)]="Inter_location" />
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-30">
          <div><label for="company">Company</label></div>
          <input class="w100p fs12" name="company" [(ngModel)]="Inter_company" />
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-12 col-md-12 mb-xs-30">
          <div><label for="requirements">Requirements</label></div>
          <textarea class="w100p fs12" name="requirements" [(ngModel)]="Inter_requirements"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row w100p m0">
      <div class="col-12 pr0">
        <div class="text-right">
          <button class="signInBtn marginAutoHr mb15" (click)="inter_submit()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--iAmInterested-->
