<!-- <app-mo-sidebar></app-mo-sidebar> -->
<div id="container">
  <div class="documentTabContent" style="overflow: hidden;
 left: 0;
 right: 0;
 margin: auto;
 width: 78%;color:#ae282e">
  <div style="float:right;font-weight: bold;font-size: 16px;">
  <a><span (click)="navigateToHistory()"> Request History >></span></a>
 </div>
  </div>
  <div class="documentTabContent" style="margin-top: 30px !important;
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 78%;">
   
        <form  [formGroup]="reactiveForm"  autocomplete="off" nonvalidate>


      <div formGroupName="basicDetailsSection" class="border-gray">
    <h6 class="red-bg">Merchant Onboarding</h6>
    <div class="row onboarding-row" > 
            <!--Business User ID-->  
            
            <div class="form-group col-md-6">
              <label for="buID">Business User ID <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="buID"
                formControlName="buID" placeholder="" #buID
                (change)="OnBUIDchange(buID.value)">
                <i *ngIf="reactiveForm.get('basicDetailsSection.buID').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.buID').valid && reactiveForm.get('basicDetailsSection.buID').touched"
                class="text-danger form-error">
                Business User ID is required.
              </div>
            </div>
             <!--Business User Name --> 

            <div class="form-group col-md-6">
              <label for="BusinessUserName">Business User Name <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserName"
                formControlName="BusinessUserName" placeholder="">
                <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserName').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserName').valid && reactiveForm.get('basicDetailsSection.BusinessUserName').touched"
                class="text-danger form-error">
                Business User Name is required.
              </div>
            </div>

             <!--Business User Head ID--> 

            <div class="form-group col-md-6">
              <label for="BusinessUserHeadID">Business User Head ID <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserHeadID"
                formControlName="BusinessUserHeadID" placeholder="">
                <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserHeadID').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserHeadID').valid && reactiveForm.get('basicDetailsSection.BusinessUserHeadID').touched"
                class="text-danger form-error">
                Business User Head ID is required.
              </div>
            </div>

            <!--Business User Email--> 

            <div class="form-group col-md-6">
              <label for="BusinessUserEmail">Business User Email <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserEmail"
                formControlName="BusinessUserEmail" placeholder="">

                <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserEmail').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserEmail').valid && reactiveForm.get('basicDetailsSection.BusinessUserEmail').touched"
                class="text-danger form-error">
                Business User Email is required.
              </div>
              
            </div>
            <!-- Environment -->    
          <div class="col-md-6">
            <div class="form-group">
              <label for="productName">Environment
                <!-- <span class="text-danger"> *</span>  -->
              </label>
              <span class="custom-dropdown">
                <select class="form-control h40 col-md-11" formControlName="Environment" (change)="selectChangeHandlerEnv($event)" >
                  <option [ngValue]="null" [disabled]="true" hidden>Select Environment</option>
                  <option>
                    PROD
                  </option>
                  <option>UAT</option>
                </select>
              </span>
            </div>
          </div>


            <!--Merchant Name--> 

            <div class="form-group col-md-6">
              <label for="merchantName">Merchant Name <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="merchantName"
                formControlName="merchantName"
                placeholder="">
                <i *ngIf="reactiveForm.get('basicDetailsSection.merchantName').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.merchantName').valid && reactiveForm.get('basicDetailsSection.merchantName').touched"
                class="text-danger form-error">
                Merchant Name is required.
              </div>
            
             
            </div>


          
             <!--Merchant Email--> 

             <div class="form-group col-md-6">
              <label for="MerchantEmail">Merchant Email <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="MerchantEmail"
                formControlName="MerchantEmail" placeholder="">
                
                <i *ngIf="reactiveForm.get('basicDetailsSection.MerchantEmail').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <!-- validation -->
              <div
                *ngIf="!reactiveForm.get('basicDetailsSection.MerchantEmail').valid && reactiveForm.get('basicDetailsSection.MerchantEmail').touched"
                class="text-danger form-error">
               Enter valid Merchant Email .
              </div>
              <div style="font-size:11px !important;"><i>* Please enter valid and actual merchant email id only. This will be a part of Analytics in developer Portal</i></div>
            </div>
          <!-- API Product  --> 

          <div class="form-group col-md-6">
            <label for="Domain">API Product <span class="text-danger"> *</span></label>
            <select class="form-control h40 col-md-11" formControlName="Domain"
            (change)="selectChangeHandler($event)">
            <option selected="selected">Select Product</option>
            <option *ngFor="let option of productDetail; let i = index;" [value]="option.apiProductName" >
              {{option.apiProductName}}
            </option>
          </select>

          </div>
        
          <!-- API Services  --> 

          <div class="form-group col-md-6">
            <label for="DomainAPI">API Services<span class="text-danger"> *</span></label>
           
          <div id="list1" class="dropdown-check-list form-control h40 col-md-11 ng-untouched ng-pristine ng-invalid" tabindex="100" style="padding-left: 0px;"  >
            <span class="anchor form-control h40 col-md-12" style="    width: 500px;">{{checkboxValues}} </span>
            <ul class="items">
             
              <li >
                <label> Select All<input type="checkbox"  class="selectAll"
                  (click)="checkUncheckAll()"  name="selectAll" class="selectAll"   style="float: right;"/> 
                </label> 
              </li>
               
              <li *ngFor="let option of apiServiceUrlList; let i = index;" >
               <label> {{option.apiName}} 
                 <input type="checkbox" name="apiService" class="apiServiceList" 
                [checked] = "checkedStatus"
                 [value]="i" [id]="option.apiProductName" (change)="onServiceChange($event)" style="float: right;"/> </label> </li>
              
            </ul>
          </div>
          </div>
          <!-- API Url --> 

          <!-- <div class="form-group col-md-6">
            <label for="APIURL">API URL <span class="text-danger"> *</span></label>
            <input type="text" class="form-control mainField col-md-11 inline_block" id="APIURL"
              formControlName="APIURL" placeholder="">
              <i *ngIf="reactiveForm.get('basicDetailsSection.APIURL').valid"
              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <div
              *ngIf="!reactiveForm.get('basicDetailsSection.APIURL').valid && reactiveForm.get('basicDetailsSection.APIURL').touched"
              class="text-danger form-error">
              API URL  is required.
            </div>
          </div> -->
          <!-- API Name -->    
       <!--    <div class="form-group col-md-6">
            <label for="APIName">API Name </label>
            <input type="text" class="form-control mainField col-md-11 inline_block" id="APIName"
              formControlName="APIName" placeholder="">
            
          </div> -->
          
        <!--Public Certificate is a file type--> 
            <div class="form-group col-md-6">
              <label for="Certificate">Public Certificate <span class="text-danger"> *</span></label>
             <!--  <input type="text" class="form-control mainField col-md-11 inline_block" id="Certificate"
                formControlName="Certificate" placeholder=""> -->

                <input type="file" 
                 id="Certificate"
                formControlName="Certificate" class="form-control input_type_attachment mainField col-md-11 inline_block"
                (change)="readFile($event)" >
                <i *ngIf="fileTest==true"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
            <span class="fileError text-danger"></span>

                <span style="font-size:11px !important;"><i>* Accept file type .crt , .key and .txt </i></span>
                
                <div
                *ngIf="!reactiveForm.get('basicDetailsSection.Certificate').valid && reactiveForm.get('basicDetailsSection.Certificate').touched"
                class="text-danger form-error">
                Certificate  is required.
              </div>
            </div>

        <!--IP List..--> 
         <!--    <div class="form-group col-md-6">
              <label for="IPList">IP List <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="IPList"
                formControlName="IPList" placeholder="">
                <i *ngIf="reactiveForm.get('basicDetailsSection.IPList').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                <div
                *ngIf="!reactiveForm.get('basicDetailsSection.IPList').valid && reactiveForm.get('basicDetailsSection.IPList').touched"
                class="text-danger form-error">
                IP List is required.
              </div>
            </div> -->

            <!-- ============================== -->
             <!-- --------------------ip -->
             
             <div class="form-group col-md-6  countIp" id="addIPUnique">
              <div class="width_100prcnt"><label for="contract">IP<span class="text-danger"> *</span></label>
                <a data-toggle="tooltip"
                  title="For dynamic IPs please provide range of IP addresses. You can add maximum 10 IP"><img
                    alt="loader" class="ml2 cursor_pointer" src="assets/images/information.png"></a>
              </div>
              <div formArrayName="IPList" class="form-group">
                <!-- =================== -->
                <div class="row  mb-2"
                  *ngFor="let itemrow of reactiveForm.get('basicDetailsSection').get('IPList')['controls']; let i=index">

                  <div class="input-group  col-md-11">
                    <input type="text" class="form-control mainField ipValues" formControlName="{{i}}"
                      placeholder="Your IP" aria-label="IPList" aria-describedby="basic-addon2">

                    <div class="input-group-append">
                      <span *ngIf="i == 0" class="input-group-text add-ip-addon" id="basic-addon2"
                        (click)="addNewIPField()">+</span>
                      <span *ngIf=" i> 0" class="input-group-text add-ip-addon" id="basic-addon2"
                        (click)="deleteRow(i)">-</span>
                    </div>

                  </div>
                  <i *ngIf="reactiveForm.get('basicDetailsSection').get('IPList').controls[i].valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px margin-leftminus15" aria-hidden="true"></i>
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection').get('IPList').controls[i].valid && reactiveForm.get('basicDetailsSection').get('IPList').controls[i].touched"
                    class="text-danger form-error col-md-12">
                    <span *ngIf="reactiveForm.get('basicDetailsSection').get('IPList').controls[i].errors.required">
                      IP
                      is required.</span>
                    <span *ngIf="reactiveForm.get('basicDetailsSection').get('IPList').controls[i].errors.pattern">Please
                      enter correct IP</span>
                  </div>
                </div>

                <!-- ==================== -->
              </div>
            </div>
            <!-- =============================== -->


            
        <!-- Encryption Method dropdown --> 
            <!-- <div class="form-group col-md-6">
              <label for="Decryption">Encryption Required<span class="text-danger">
                  *</span></label>
                  <select class="form-control h40 col-md-11" formControlName="Decryption">
                    
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <i *ngIf="reactiveForm.get('basicDetailsSection.Decryption').valid"
                  class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  <div
                  *ngIf="!reactiveForm.get('basicDetailsSection.Decryption').valid && reactiveForm.get('basicDetailsSection.Decryption').touched"
                  class="text-danger form-error">
                  Decryption is required.
                </div>
            </div> -->
           <!-- Mode is a dropdown-->    
          <div class="form-group col-md-6" *ngIf="showMode">
            <label for="Mode">Encryption Mode </label>
         
              <select class="form-control h40 col-md-11" formControlName="Mode">
                <option value="Hybrid">Hybrid</option>
                <option value="Asymmetric">Asymmetric</option>
              </select>
              <i *ngIf="reactiveForm.get('basicDetailsSection.Mode').valid"
              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
              <div
              *ngIf="!reactiveForm.get('basicDetailsSection.Mode').valid && reactiveForm.get('basicDetailsSection.Mode').touched"
              class="text-danger form-error">
              Mode is required.
            </div>
          </div> 
          <!-- Decryption key Method dropdown --> 
          <!-- <div class="form-group col-md-6">
            <label for="DecryptionKey">Decryption Key<span class="text-danger">
                *</span></label>
                <select class="form-control h40 col-md-11" formControlName="DecryptionKey">
                  
                  <option value="ICICI_CIB_PRIVATE_KEY_NEW">ICICI_CIB_PRIVATE_KEY_NEW (CIB)</option>
                  <option value="ICICI_PRIVATE_KEY">ICICI_PRIVATE_KEY</option>
                </select>
               
          </div> -->
         
          <!-- Callback URL --> 

            <div class="form-group col-md-6">
              <label for="CallbackURL">Callback URL </label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="CallbackURL"
                formControlName="CallbackURL" placeholder="">
                
            </div>
         
           <!-- Merchant Id--> 
            
           <div class="form-group col-md-6">
            <label for="MerchantId">Merchant ID <span class="text-danger"> *</span></label>
           
            <input type="text" class="form-control mainField col-md-11 inline_block" id="MerchantId"
              formControlName="MerchantId" placeholder="">
              <span _ngcontent-c6="" style="font-size:11px !important;" *ngIf="showText1==true"><i _ngcontent-c6="">
               * Merchant id should be alphanumeric.4 character's alphabet  and 4 character's number.Eg:MERC1234
              </i></span>
              <span _ngcontent-c6="" style="font-size:11px !important;" *ngIf="showText2==true"><i _ngcontent-c6="">
                * Merchant id should be alphanumeric.4 character's alphabet  and 2 character's number.Eg:MERC12
               </i></span>
              <i *ngIf="reactiveForm.get('basicDetailsSection.MerchantId').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                <div
                *ngIf="!reactiveForm.get('basicDetailsSection.MerchantId').valid && reactiveForm.get('basicDetailsSection.MerchantId').touched"
                class="text-danger form-error">
                Merchant Id is required.
              </div>
             
          </div>
           <!-- Client Code --> 
            
           <!-- <div class="form-group col-md-6">
            <label for="ClientCode">Client Code</label>
        
            <input type="text" class="form-control mainField col-md-11 inline_block" id="ClientCode"
              formControlName="ClientCode" placeholder="">
             
          </div> -->
             <!-- RM -->
             <div class="form-group col-md-6">
              <label for="RelationshipManager">Relationship manager Id <span class="text-danger"> *</span></label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="RelationshipManager"
                formControlName="RelationshipManager" placeholder="">
                <i *ngIf="reactiveForm.get('basicDetailsSection.RelationshipManager').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                <div
                *ngIf="!reactiveForm.get('basicDetailsSection.RelationshipManager').valid && reactiveForm.get('basicDetailsSection.RelationshipManager').touched"
                class="text-danger form-error">
                Relationship manager is required.
              </div>
            </div>
        <!-- Request Date  --> 
            
           <!--  <div class="form-group col-md-6">
              <label for="merchantID">Request Date<span class="text-danger"> *</span></label>
             
                <input type="date"  max="{{maxDate}}" class="form-control mainField col-md-11 inline_block" 
                formControlName="RequestDate" placeholder="Date">
                <i *ngIf="reactiveForm.get('basicDetailsSection.RequestDate').valid"
                class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                <div
                *ngIf="!reactiveForm.get('basicDetailsSection.RequestDate').valid && reactiveForm.get('basicDetailsSection.RequestDate').touched"
                class="text-danger form-error">
                Request Date is required.
              </div>

            </div> -->
        
         
      <!-- Remarks  --> 

            <div class="form-group col-md-6">
              <label for="Remarks">Remarks </label>
              <input type="text" class="form-control mainField col-md-11 inline_block" id="Remarks"
                formControlName="Remarks" placeholder="">
               
            </div>

            <div class="form-group col-md-6">
              <label for="checkbox">
                <input type="checkbox" id="checkbox" formControlName="nDa" class="">
                I ACCEPT NON-DISCLOSURE AGREEMENT, </label>
              <span><!-- <a href="/assets/pdf/test.pdf" target="_blank" class="anchor_color"> Click here to
                  download</a> --><span class="text-danger"> *</span></span>
             
            </div>

            




            <div class="form-group col-md-12">
              <button class="signInBtn btn-dark pull-right  mt-3 "  [disabled]="!reactiveForm.valid " type="button" ng-reflect-klass="signInBtn"
                 style="
      margin-right: 38px;
  "  (click)="saveMerchantData($event)"> Submit
              </button>
            </div>
            </div>

          </div>
        </form>
           

      </div>
      </div>