<app-header></app-header>
<app-sidebar></app-sidebar>
<toaster-container></toaster-container>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="documentTabContent">
  <div class="tab-content" id="v-pills-tabContent">
    <div
      class="tab-pane fade"
      id="v-pills-dashboard"
      role="tabpanel"
      aria-labelledby="v-pills-dashboard-tab"
    >
      dashboard
    </div>
    <div
      class="tab-pane fade active show"
      id="v-pills-applications"
      role="tabpanel"
      aria-labelledby="v-pills-applications-tab"
    >
      <div class="tabContentInner">
        <div class="row">
          <div class="col-md-6">
            <h4 class="color-black30 fs24 ff-semibold mb10">
              Onboarding Request
            </h4>
          </div>
          <div class="col-md-6 text-right">
            <!-- <input class="form-control search-box" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search"> -->
          </div>
        </div>
        <table class="table ">
          <thead>
            <tr>
              <td class="width10prcnt">Request ID</td>
              <td  class="width10prcnt">Request Status</td>
              <td  class="width15prcnt">Domain</td>
              <td class="width15prcnt" style="
              width: 10%;
          " >APIs</td>
              <!-- <td><div *ngIf="showurl">Approval URL</div></td> -->
              <td  class="width10prcnt">UAT/Prod</td>
              <td class="width10prcnt">UAT Request ID</td>
              <!-- <td>API Document</td> -->
              <td>User uploaded document</td>
              <td>Operation</td>

              <!-- <td  class="width15prcnt">Remarks</td>  --> 
            </tr>
          </thead>

          <tbody  *ngFor="let row of dataSource  | paginate: { itemsPerPage: 10, currentPage: p } ;let j=index">
            <tr >
              <td>{{ row.JiraId }}</td>
              <td>{{ row.JiraStatus }}</td>
              <td>{{ row.Domain }}</td>
              <td>{{ row.ApiName }}</td>
              <!-- <td><div *ngIf="showurl">{{row.CallbackUrl}}</div></td> -->
              <td>{{ row.Env }}</td>
              <td><p  *ngIf="row.RefJiraId!='undefined'">{{ row.RefJiraId }}</p></td>
             <!--  <td *ngIf="row.Url !== ''" style="text-align: center;">
                <a
                  (click)="downloadDocument(row.JiraId,'Document',row.Url)"
                  [hidden]="row.Url === ''"
                  
                  id="ApiUrl"
                  >
                  <label data-toggle="tooltip"
                  title="Click here to download the API document and ICICI certificate">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zm-.5 3.5a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 11.293V7.5z"/>
                </svg></label></a>
              </td> -->
              <!-- <td href="row.CERTIFICATE">{{ row.Certificate }}</td> -->
            <!--   <td *ngIf="row.Certificate !== ''" style="text-align: center;">
                <a
                  (click)="downloadCertificate(row.Certificate)"
                  [hidden]="row.Certificate === ''"
                
                  id="certificateUrl"
                  >  <label data-toggle="tooltip"
                  title="Click here to download the certificate uploaded by you">
                  <svg width="1.5em" height="1.5em"  viewBox="0 0 16 16" class="bi bi-card-checklist " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                  </svg></label></a>
              </td>
              <td><a *ngIf="row.Certificate === ''" href="#0"  role="tab"  id="userGuide" (click)="UAT_help(UAT_Help)" > <span class="help-ico"><i _ngcontent-c2="" aria-hidden="true" class="fa fa-question-circle"></i></span></a></td>
            -->
            <td *ngIf="row.Certificate !== ''" style="text-align: center;">
              <a
                (click)="downloadDocument(row.JiraId,'Certificate',row.Certificate)"
                [hidden]="row.Certificate === ''"
              
                id="certificateUrl"
                >  <label data-toggle="tooltip"
                title="Click here to download the certificate uploaded by you">
                <svg width="1.5em" height="1.5em"  viewBox="0 0 16 16" class="bi bi-card-checklist " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                </svg></label></a>
            </td>
            <td  *ngIf="row.Certificate === ''"><a href="#0"  role="tab"  id="userGuide" (click)="UAT_help(UAT_Help)" > <span class="help-ico"><i _ngcontent-c2="" aria-hidden="true" class="fa fa-question-circle"></i></span></a></td>
            <td *ngIf="row.Status && row.Status.toUpperCase()  === 'APPROVED'"> 
              <!-- <a class="signInBtn ng-star-inserted"   (click)="openModal(View_Detail,(p - 1) * 10 + j)" >View</a></td> -->
              <a  class="signInBtn ng-star-inserted"   (click)="openModal(View_Detail,(p - 1) * 10 + j)" >View</a></td>


            
           
                      
          <!--   <td >{{ row.Remarks }}</td> -->
          
          
          </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>

        <ul class="pagination">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="v-pills-analytics"
      role="tabpanel"
      aria-labelledby="v-pills-analytics-tab"
    >
      analytics
    </div>
     

        <ng-template #View_Detail id="View_Detail">
          <div class="modal-header">
            <h4>Request Detail</h4>
            <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button> -->
            <button data-dismiss="modal" class="material-icons close" (click)="closeMe()">
              close
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mb-xs-10">
                <form id="regForm" autocomplete="off" method="POST" name="regForm" action="">
                  <div class="tab disp-block">
                    <div class="tabContent">
                      <div class="tabContent">
                        <!-- <h5>Dummy text</h5> -->
                        <div class="details">
                          <div class="row mb10  pt15 pb15" >
                            <div class="col-md-3"><label><b>App Name : </b></label></div>
                            <div class="col-md-9"><p>{{onboardedMerchantData.AppName}}</p></div>
                        </div>
  
                        <div class="row mb10  pt15 pb15" >
                          <div class="col-md-3"><label><b>Api Key : </b></label></div>
                          <div class="col-md-9"><p>{{onboardedMerchantData.ApiKey}}</p></div>
                      </div>
  
                      <div class="row mb10  pt15 pb15" >
                        <div class="col-md-3"><label><b>Api URL : </b></label></div>
                        <div class="col-md-9">
                          <ul>
                            <li *ngFor="let item of apiUrl;let j=index ">
                              {{UAT_baseURL+item}}
                            </li>
                          </ul>

                        </div>
                    </div>
                    <div class="row mb10  pt15 pb15" >
                      <div class="col-md-3"><label><b>Approver Remarks : </b></label></div>
                      <div class="col-md-9"><p>{{onboardedMerchantData.buhRemarks}}</p></div>
                  </div>
                  <div class="row mb10  pt15 pb15" >
                    <div class="col-md-3"><label><b>Certificate </b></label></div>
                    <div class="col-md-9">
                      <a
                      (click)="downloadfile('/assets/documents/ICICI_PUBLIC_CERT_UAT.crt',onboardedMerchantData.MerchantName)"
                      
                      >
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zm-.5 3.5a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 11.293V7.5z"/>
                    </svg></a>
                      
                     <!--  <button class="signInBtn btn-dark pull-left  mt-3 "  type="button" style="margin-right: 38px;"  (click)="downloadfile('/assets/documents/ICICI_PUBLIC_CERT_UAT.crt',onboardedMerchantData.merchantName)"> Download
                    </button> --></div>
                </div> 
                        </div>
                      </div>     
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>

        
        <!-- End Modalbox -->
  </div>
  <!-- <div class="copyrightSection">
         <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
     </div> -->
</div>
