<toaster-container></toaster-container>
<div class="documentTabContent">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
            dashboard</div>
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <!-- <img src="assets/images/Explorebanner.jpeg" class="mt-4 " style="width: 87.7%; height: 250px; margin-left: 30px;"> -->
            <!-- <div class="tabContentInner">
              



            </div> -->
        </div>



        <div class="container ">
            <div class="row" style="background: #f6f6f6; width: 95%;">
                <img src="assets/images/Explorebanner.png" class="mt-4 "
                    style="width: 96.5%; height: 250px; margin-left: 18px;">
                <div class="tabContentInner">
                    <div>
                        <h3 style="color: #EF7C00;">What is API BANKING?</h3>
                        <p style="font-size: 14px; color: #000;">Application Programming Interface (API) Banking: API Banking makes
                            use of APIs (XML/JSON codes) for communication between bank and client servers, making data
                            transfer between these two systems seamless, ensuring seamless and secured integration
                            between the customer’s and bank’s systems. This ability of API Banking helps the customer to
                            perform banking transactions in an easy manner without having to toggle between his
                            Enterprise Resource Planning (ERP) platform and bank.</p>
                    </div>
                    <div>
                        <h3 style="color: #EF7C00;">Benefits of API Banking</h3>
                        <p style="font-size: 14px;color: #000;">Direct integration and Instant solution – Real time solution for
                            processing banking transaction

                            · Secured medium of integration – Exchange data or files in encrypted environment

                            · Highly efficient mode of banking – Reduce turn-around time of banking transaction as
                            initiation as well as reverse status available on customer system on real time. Easy
                            reconciliation

                            · Saves time - No need to visit bank or uploading transaction files manually.</p>
                    </div>
                    <div>
                        <h3 style="color: #EF7C00;">How it works:</h3>
                        <p style="font-size: 14px;color: #000;">
                            Step 1: Client can choose the API service and do virtual testing on ICICI Bank developers portal.<br>

                            Step 2: Client to sign the NDA/ Application form for the access to UAT & production environment.<br>
                            
                            Step 3: Handshake of ICICI Bank’s and client’s technical team for testing support.<br>
                            
                            Step 4: Development, Testing and Live.</p>
                    </div>



                </div>

                <div class="col-md-4 col-6 mt-4 ">
                    <div class="card h-100">
                        <!-- <a href="https://developer.icicibank.com/#/rootdetails/1"> -->
                        <img class="card-img-top container img-fluid mt-4" src="assets/images/trade.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/1">
                            <br>
                            <div class="card-body ">
                                <h4 class="card-title " style="text-align: center;">Building Blocks</h4>
                                <p class="card-text">Building Blocks APIs provide you with the most essential APIs you
                                    require to integrate with number of services of the bank. Run checks and crosses
                                    using
                                    out fundamental APIs such as CIBIL score check, PAN card information.</p>

                            </div>
                        </a>


                    </div>
                </div>


                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">
                        <img class="card-img-top container img-fluid mt-4" src="assets/images/cards.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/247">

                            <div class="card-body">
                                <h4 class="card-title top"style="text-align: center;">Business Banking</h4>
                                <p class="card-text">Empower your corporate's banking with seamless APIs which enable
                                    your
                                    corporation to make Efficient Transactions, Expeditious Cash Deposits, Smart
                                    Reconciliation, and Personalised Management Systems.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">

                        <img class="card-img-top container img-fluid mt-4" src="assets/images/retail-shape.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/30">

                            <div class="card-body">
                                <h4 class="card-title top" style="text-align: center;">Loans and Cards</h4>
                                <p class="card-text">Explore, develop, and integrate innovative solutions for various
                                    loan products (AL, HL, Loan Top-up, Loan Management) and Credit Card products
                                    (Customer Search, Remaining Credit Limit, etc) to cater to your prospects, existing,
                                    and upcoming customers.</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">

                        <img class="card-img-top container img-fluid mt-4" src="assets/images/business_api.svg "
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/209">

                            <div class="card-body">
                                <h4 class="card-title top"style="text-align: center;">Accounts &amp; Deposits</h4>
                                <p class="card-text">Empower your customers to invest and do banking with you by
                                    integrating with umpteen services in the domain of Savings (Savings Accounts,
                                    Corporate Account) and deposits (Fixed Deposits, Recurrent Deposits).</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">

                        <img class="card-img-top container img-fluid mt-4" src="assets/images/payment.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/104">

                            <div class="card-body">
                                <h4 class="card-title top"style="text-align: center;">Payments & UPI</h4>
                                <p class="card-text">Find the most sought after APIs in the industry to introduce
                                    payment services tailor made to serve your needs. Multitude of payment services to
                                    integrate your payment services to integrate to the outside world.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">

                        <img class="card-img-top container img-fluid mt-4" src="assets/images/combined-shape.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">

                        <a href="https://developer.icicibank.com/#/rootdetails/292">

                            <div class="card-body">
                                <h4 class="card-title top"style="text-align: center;">Trade Service</h4>
                                <p class="card-text">Incorporate remittances and bank guarantees APIs to make your trade
                                    and business easy with our latest offerings tailormade as per the latest
                                    requirements of the market.</p>
                            </div>
                        </a>
                    </div>
                </div>





                <div class="col-md-4 col-6 mt-4">
                    <div class="card h-100">

                        <!-- <img class="card-img-top img-fluid" src="assets/images/payment.svg" alt="Card image cap"> -->
                        <img class="card-img-top container img-fluid mt-4" src="assets/images/payment.svg"
                            style="height: 114px; width: 131px;" alt="Card image cap">
                        <a href="https://developer.icicibank.com/#/rootdetails/370">

                            <div class="card-body">
                                <h4 class="card-title top"style="text-align: center;">Corporate API Suite</h4>
                                <p class="card-text">We bring to you corporate API suite a bouquet of APIs selected
                                    specially to cater to the evolving needs of corporate clients. We have come up with
                                    this assortment of APIs after carefuly studying the needs and journey of the
                                    corporates. Please feel free to browse and choose from our thoughtful API offerings.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </div>