<div class="container">
  <br><br><br><br><br>
  <div>
    <h3 class="head">
      <p>ICICI Bank-Connected Banking Concept </p>
    </h3><br>
    <img src="../../../assets/newpartner/image1.jpg" alt="image1" width="100%"><br><br>
    <div class="list">
      <ul>
        <li>
          Connected Banking is industry first API Banking initiative that
          provides experience of accounting and banking on a single integrated platform for seamless reconciliation.

        </li>
        <li>
          It is a step ahead from API integration led banking, where single integration with your platform will
          allow common customers(platform customers having banking with <b>ICICI</b> Bank) to initiate banking
          transactions.
          like initiating payment(tax payment, single/bulk vendor payment)/ Invoice collection instructions, open
          <b> ICICI</b> Bank Current account, apply for unsecured OD or prepaid cards, Point of sale machine, and much
          more.

        </li>
        <li>
          Transaction details will get updated right on business banking platform with auto reconciliation on txn
          processing.
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h3 class="head">
      <p> ICICI Bank Connected Banking - How it works</p>
    </h3><br>
    <img src="../../../assets/newpartner/image2.png" alt="image2" width="100%"><br><br>
    <div class="list">
      <ul>
        <li>
          With <b>Connected Banking </b> customer are not required to approach the bank for integration they can simply
          register themselves with pre-integrated platform with ICICI Bank & perform accounting & banking on a single
          platform.
        </li>
        <li>
          ICICI Bank has host of API led solutions to offer for integration with your platform.
        </li>
      </ul>
    </div>
  </div>



  <div>
    <h3 class="head container">
      <p> ICICI Bank Connected Banking API based use cases</p>
    </h3><br>
    <img src="../../../assets/newpartner/image10.PNG" width="100%" height="50%" alt=""><br>
    <p class="orange"> We have may more API lead solutions to offer for your platform.</p>

  </div>
  <br>

  <div>
    <h3 class="head">
      <p> Connected Banking - Transaction & Reconciliation Approach</p>
    </h3><br>
    <div style="
    width: 50%;
    display: inline-block;
">
      <img src="../../../assets/newpartner/image8.jpg" alt="image8" width="100%" height="500px">
      <div class="box">Existing Process</div>
    </div>
    <div style="
    width: 50%;
    display: inline-block;
">
      <img src="../../../assets/newpartner/image9.png" alt="image9" width="100%" height="500px">

      <div class="box">Connected Banking</div>
    </div>
  </div><br>

  <div>
    <h3 class="head">
      <p> Connected Banking Benifits to your customer</p>
    </h3>
    <div class="list">
      <ul>
        <li>
          Assurance of best banking standards from one of the largest private sector bank in India.
        </li>
        <li>
          Direct access to multiple transaction banking features from your platform.
        </li>
        <li>No need to toggle between your and banking & accounting platform for executing business transactions.

        </li>
        <li> Completely secured transaction environment which works on pre-defined authorization matrix</li>
        <li>No need to visit Bank for direct integration or transaction processing.

        </li>
        <li>Hassle free auto bank reconciliation. Hence, time & cost savings!</li>

      </ul>
    </div>
  </div>

  <div>
    <h3 class="head">
      <p> Connected Banking - Why partner with ICICI Bank</p>
    </h3>
    <div class="list">
      <ul>
        <li>
          Grow your Platform business with one of the largest private sector bank in India.
        </li>
        <li>
          Power your platform with ICICI Bank transaction Banking APIs- Asian Banker Awarded.
        </li>
        <li>ICICI Bank has the largest API led solution suite to offer for integration with your platform.

        </li>
        <li> Dedicated expert team to assist you with each stage of integration.</li>
        <li>Collaborate with ICICI Bank to enhance product offerings for your platform users.
        </li>
        <li>Dedicated customer support to address issues of customer on partner platform.</li>

      </ul>
    </div>
  </div>

  <div>
    <h3 class="head">
      <p> Connected Benifits to partner</p>
    </h3>
    <div class="list">
      <ul>
        <li>
          Reach out to large ICICI bank customer base with your unique product, offering integration based solution.
        </li>
        <li>
          Access to business complements page on ICICI Bank website to promote your platform & partnership. </li>
        <li>
          Access to joint PR with ICICI Bank - Digital campaigns & events for increased reach.
        </li>
        <li> Cross selling opportunity through digital platform.</li>
        <li>Grow your business in partnership with ICICI Bank.
        </li>


      </ul>
    </div>
  </div>

  <!-- <div>
    <img src="../../../assets/newpartner/image12.png" width="100%" height="500" alt="Thankyou">
  </div> -->




</div>
  <div class=" feedbackSection blueBackground colorWhite">
    <h3 class="textAlignLeft">Want to be a Partner? <b>Let's get Connected</b></h3>
    <p class="textAlignLeft text-center mb20 fs16">
      Drop in your Credentials to get conversation started with our team and explore the possibilities.
    </p>
    
    <form [formGroup]="signupForm">

    <input class="w100p mb25" name="" type="text" placeholder="Your Name"  formControlName="name" />
    <input class="w100p mb25" name="" type="number" placeholder="Your Mobile Number" formControlName="mobileNo"  />
    <input class="w100p mb25" name="" type="email" placeholder="Your Email"  formControlName="emailId" />
    <input class="w100p mb25" name="" type="text" placeholder="Location" formControlName="location"  />
    <textarea class="w100p mb35" name="" placeholder="Write your Remarks" formControlName="remarks" ></textarea>

    <div class="row">
      <button class="signInBtn marginAutoHr"  (click)= "submit()">Submit</button>
    </div>
  </form>
  </div>


