.border-gray{
    border: 1px solid #dee2e6;
}
.right-border-gray{
    border-right: 1px solid #dee2e6 !important;
}
.signInBtn{
    height: auto;
    border: none;
}
table.table tbody tr td {
    padding-left: 0px;
    padding: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.active-progress{
    border: 1px solid  #000;
}