.overlay_parent{
	top: 0;
    width: 100%;
    pointer-events: none;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.05);
}
.sendOTPBtn{
    background: #ae282e;
    color: #ffffff !important;
    
    padding-top: 14px;
}
.font13{
    font-size: 13px;
}
.borderCustom{
    border-top: 1.2px solid #dcdcdc;
}
.padding20px{    padding: 20px;
}
.initialTextAlign{
    text-align: initial;
}  
/* On screens that are 992px or less, set the background color to blue */
.signpSidemenuColmd3{
   /* // width: 300px; */
    
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.08);

}
.signpSidemenu{
    z-index: 1;
    position: fixed;
    height: calc(100vh - 96px);
    overflow: auto;
}
.signpSidemenu .nav-pills .nav-link.active>a {
    background: 0 0;
    color: #ae282e;
}
.signpSidemenu .nav-pills .nav-link.active>a {
    background: 0 0;
    color: #ae282e;
}
.signpSidemenu .nav-pills .nav-link a {
    font-family: Poppins-Medium;
    padding: 16px 12px 16px 24px;
    border-top: 1px solid #ececec;
    border-radius: 0px;
    width: 100%;
    color: #919191;
    display: block;
    text-decoration: none;
}
@media (max-width: 1192) {
    .signpSidemenu {
        /* width: 200px; */
      }
  }
/* @media (min-width: 1193) {
    .signpSidemenu {
      width: 300px;
    }
  }
@media screen and (max-width: 1192) {
    .signpSidemenu {
      width: 200px;
    }
  } */