<toaster-container></toaster-container>
<ng4-loading-spinner> </ng4-loading-spinner>  
<div class="tab-content">
    <div class="text-center mb50 col-md-4 marginAutoHr">
        <div class="row mb10">
             <div class="col-md-12">
                <div class="modal-header">
                    <h3 class="modal-title pull-left"> Reset your password </h3>
                </div>
               
            </div>
        </div>
        <form [formGroup]="ChangepasswForm" novalidate>
            <div class="row mb10">
                <div class="col-md-12">
                   <div class="ml"><label for="password" type="password">New Password</label></div>
                   <input name="password" type="password" class="input-login" formControlName="password" >
                   <div class="ml">
                    <div *ngIf="password && password.touched && password.errors" class="alert alert-danger">
                        <div *ngIf="password.errors.required" class="text-danger">password is required </div>
                        <div *ngIf="password.errors.pattern" class="text-danger">
                          Please, Enter Vaid Password !!<br>* Must be Atleast 8 characters in length. <br>* Must contain one
                          Lowercase letter. <br>* Must contain one Uppercase letter.<br>* Must contain one Number. <br>* Must
                          contain one Special character.
                        </div>
                      </div>
                       </div>
                       <div *ngIf="password.valid" class="alert-success">Valid Password</div>
                   </div>
                   
                   
                </div>
             
             <div class="row mb10">
               <div class="col-md-12">
                   <div class="ml"><label for="password" type="password">Re-Type your password</label></div>
                   <input formControlName="confirmPassword" name="password" type="password" class="input-login">
                   <div class="ml">
                    <div *ngIf="confirmPassword && confirmPassword.touched && confirmPassword.errors" class="alert alert-danger">
                        <div *ngIf="confirmPassword.errors.required" class="text-danger">Please enter new password </div>
                      <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="text-danger ">
                        Password doesn't match.
                      </div>
                      
                   </div>
                   
                    </div>
                    <div *ngIf="confirmPassword.valid" class="alert-success">Password match</div>
                    </div>
                </div>
             
               <div class="row mb10">
                   <div class="col-md-12">
                       <button type="submit" class="signInBtn w100p"  (click)="save()">Reset password</button>
                   </div>
               </div>
        </form>
    
    </div>
</div>