<!-- <app-besidebar></app-besidebar> -->
<div class="tab-content">
  <div class="text-center mb50 mt10">
    <h3 class="fs32 color-blue ff-bold mb25 pt15" style="padding-top: 20px;">Set Rate Plan</h3>
   
  </div>
   <div class="row mb25">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h6>
    <a  [routerLink]="['/merchants']"><span _ngcontent-c9="" style="float: left;font-weight: bold;color:#ae282e;font-size: 16px;">&lt;&lt; Back </span></a>

      </h6>
    </div>
    <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form [formGroup]="setRateForm">
        
          <!-- <h6 class="fs30 color-blue mt25">{{faqHeader}}</h6> -->
            <!-- ============================================= -->
            <div id="accordion0" class="faqmainSection">
              <div class="card">
                <div class="card-header collapsed" data-toggle="collapse" href="#BUDetails"
                    aria-expanded="false">
                    <div class="row">
                        <div class="col-md-11 col-11">
                        <a class="card-link">
                          Business User Details
                        </a>
                        </div>
                        <div class="col-md-1 text-right">
                        <i class="material-icons accordionDropdownIcon">expand_less</i>
                        </div>
                    </div>
                </div>
                <div id="BUDetails" class="collapse" data-parent="#accordion0">
                    <div class="card-body">

                        <div  class="" style="padding-top: 20px;padding-left: 20px;">
                            

                          <div class="row">
                            <label for="buID" class="col-md-6">Business User ID </label>
                            <p  class="col-md-6">{{buUsername}}</p>
                             
                              <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.buID').valid"
                              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> --> 
                            <!-- validation -->
                            <!-- <div
                              *ngIf="!reactiveForm.get('basicDetailsSection.buID').valid && reactiveForm.get('basicDetailsSection.buID').touched"
                              class="text-danger form-error">
                              Business User ID is required.
                            </div>
                         !-->
                           <!--Business User Name --> 
                          </div>
              
              
                          <div class="row">
                            <label  class="col-md-6" for="BusinessUserName">Business User Name </label>
                            <p  class="col-md-6">{{buName}}</p>
                            
                            <!-- <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserName"
                              formControlName="BusinessUserName" placeholder="">
                              <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserName').valid"
                              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                             validation -->
                            <!-- <div
                              *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserName').valid && reactiveForm.get('basicDetailsSection.BusinessUserName').touched"
                              class="text-danger form-error">
                              Business User Name is required.
                            </div> --> 
                          </div>
              
                           <!--Business User Head ID--> 
              
                          <div class="row">
                            <label   class="col-md-6" for="BusinessUserHeadID">Business User Head ID </label>
                          <p  class="col-md-6">{{BusinessUserHeadID}}</p>
                            <!-- <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserHeadID"
                              formControlName="BusinessUserHeadID" placeholder="">
                              <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserHeadID').valid"
                              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> -->
                            <!-- validation -->
                            <!-- <div
                              *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserHeadID').valid && reactiveForm.get('basicDetailsSection.BusinessUserHeadID').touched"
                              class="text-danger form-error">
                              Business User Head ID is required.
                            </div> -->
                          </div>
              
                          <!--Business User Email--> 
              
                          <div class="row">
                            <label for="BusinessUserEmail"  class="col-md-6">Business User Email </label>
                         <p  class="col-md-6"> {{buEmail}}</p>
                            <!-- <input type="text" class="form-control mainField col-md-11 inline_block" id="BusinessUserEmail"
                              formControlName="BusinessUserEmail" placeholder="">
              
                              <i *ngIf="reactiveForm.get('basicDetailsSection.BusinessUserEmail').valid"
                              class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> -->
                            <!-- validation -->
                            <!-- <div
                              *ngIf="!reactiveForm.get('basicDetailsSection.BusinessUserEmail').valid && reactiveForm.get('basicDetailsSection.BusinessUserEmail').touched"
                              class="text-danger form-error">
                              Business User Email is required.
                            </div> -->
                            
                          </div>

                        </div>
                        
                    </div>
                </div>


                    
            </div>
        </div>
                  <!-- ============================================= -->

          <div id="accordion1" class="faqmainSection">
             
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#app_detail"
                          aria-expanded="false">
                          <div class="row">
                             <!--Business User ID-->  
            
           
                              <div class="col-md-11 col-11">
                              <a class="card-link">
                                App Details
                              </a>
                              </div>
                              <div class="col-md-1 text-right">
                              <i class="material-icons accordionDropdownIcon">expand_less</i>
                              </div>
                          </div>
                      </div>


                    

                      <div id="app_detail" class="collapse" data-parent="#accordion1">
                          <div class="card-body">
                            <div class="details">
                               
                                <div class="row mb10  pt15 pb15" >
                                    <div class="col-md-6"><label><b>App Display Name</b></label></div>
                                    <div class="col-md-6">{{appDetail.name}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                  
                                    <div class="col-md-6"><label><b>Internal Name</b></label></div>
                                    <div class="col-md-6">{{appDetail.name}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                  
                                    <div class="col-md-6"><label><b>Developer Email Address</b></label></div>
                                    <div class="col-md-6">{{appDetail.createdBy}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                  
                                    <div class="col-md-6"><label><b>Developer Name</b></label></div>
                                    <div class="col-md-6">{{appDetail.createdBy}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                  
                                    <div class="col-md-6"><label><b>App Creator </b></label></div>
                                    <div class="col-md-6">{{appDetail.createdBy}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                    <div class="col-md-6"><label><b>Overall App Status</b></label></div>
                                    <div class="col-md-6">{{appDetail.status}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                    <div class="col-md-6"><label><b>App Date/Time Created</b></label></div>
                                    <div class="col-md-6">{{appDetail.createdAt | date:'dd/MM/yyyy'}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                    <div class="col-md-6"><label><b>App Date/Time Modified</b></label></div>
                                    <div class="col-md-6">{{appDetail.lastModifiedAt | date:'dd/MM/yyyy'}}</div>
                                </div>
                                <div class="row mb10  pt15 pb15" >
                                    <div class="col-md-6"><label><b>API Products</b></label></div>
                                     <div class="col-md-6">{{appProducts.join(",")}}</div> 
    
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div id="accordion2" class="faqmainSection">
                  <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#set_rate_plan"
                        aria-expanded="false">
                        <div class="row">
                            <div class="col-md-11 col-11">
                            <a class="card-link">
                               Set Rate Plan
                            </a>
                            </div>
                            <div class="col-md-1 text-right">
                            <i class="material-icons accordionDropdownIcon">expand_less</i>
                            </div>
                        </div>
                    </div>
                    <div id="set_rate_plan" class="collapse" data-parent="#accordion2">
                        <div class="card-body">

                            <div  class="row" style="padding-top: 20px;padding-left: 20px;">
                                <div class="col-md-12" *ngIf="apiProductBucket.length>0">
                                 
                                <div formGroupName="bucketgroupname">
                                <div [formArrayName]="'formArrayName'">
                                    <div *ngFor="let x of apiProductBucket; let i = index">
                                       
                                            <div class="mb20">
                                                <label for="{{x.name}}" class="mr20">{{x.name}} </label>
                                                <input formControlName="bucketname" id="{{x.name}}" #{{i.name}} [readonly]= "apprRejtFlag"  [value]="x.value">
                                </div>
                               
                             
                                 </div>
                              </div>
                              <p *ngIf="apprRejtFlag"><i>* Approved or rejected plan is shown in read mode only.</i></p>
                              </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>


                        
                </div>
            </div>
            <div id="accordion3" class="faqmainSection">
                <div class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#select_plan"
                        aria-expanded="false">
                        <div class="row">

<!-- ========================================================================== -->
<!-- ========================================================================== -->

                            <div class="col-md-11 col-11">
                            <a class="card-link">
                               Select Plan
                            </a>
                            </div>
                            <div class="col-md-1 text-right">
                            <i class="material-icons accordionDropdownIcon">expand_less</i>
                            </div>
                        </div>
                    </div>
                    <div id="select_plan" class="collapse" data-parent="#accordion3">
                        <div class="card-body">
                            <div class="form-group col-md-10" *ngIf="!appProducts_imps && !apprRejtFlag">
                                <!-- <div class="form-group col-md-6"> -->
                               
                                <span class="custom-dropdown">
                                  <select class="form-control h40 col-md-11" formControlName="plan" (change)="selectChangeHandler($event)">
                                    <option *ngFor="let option of ratePlans" [value]="option.id">
                                      {{option.displayName}}
                                    </option>
                                  </select>
                                </span>
                              </div>

                              <div class="form-group col-md-10" *ngIf="appProducts_imps">
                                <!-- <div class="form-group col-md-6"> -->
                               
                                <span class="custom-dropdown">
                                  <select class="form-control h40 col-md-11" formControlName="plan2" (change)="selectChangeHandler2($event)">
                                    <option *ngFor="let option of imps_plan; let i = index;" [value]="i">
                                      {{option.displayName}}
                                    </option>
                                  </select>
                                </span>
                              </div>
                              <div class="form-group col-md-10" *ngIf="apprRejtFlag">
                                <!-- <div class="form-group col-md-6"> -->
                                <label>{{setratePlanText}}</label> 
                                <span class="custom-dropdown">
                                  <select class="form-control h40 col-md-11" formControlName="plan3" >
                                    <option  >
                                      {{requestStatus}}
                                    </option>
                                  </select>
                                </span>
                              </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="signInBtn btn-dark pull-right" type="button" 
                      id="submitButton"  (click)="onSubmit($event)" [disabled] = "apprRejtFlag"> Submit
                    </button>
                  </div>
        
      </div>
      <div class="col-md-2"></div>
    </form>
   </div>
</div>