.width100prcnt{
    width: 100%;
}
.heading[_ngcontent-c5] {
    background: #ae282e;
    color: #fff;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.divBorder{
    border: 1px solid #cccccc;

}