<!-- <div id="container">

<div class="documentTabContent"> -->
 

<div class="tab-content">

 
  <div class="text-center mb50 mt10 padding-l-r20px">
    <!-- <h3 class="fs32 color-blue ff-bold mb25 pt15">Frequently Asked Questions</h3> -->
    <div class="row">  
      <div class="col-md-3">
        <app-sign-up-sidebar></app-sign-up-sidebar>
      </div>
      <div class="col-md-9">
    <form [formGroup]="reactiveForm" autocomplete="off" nonvalidate>
      
      <div #BasicDetailsList class="tabContentInner" id="Basic_Details_Section">
       
          <div class="container" style="    text-align: initial;">
            <div class="" id="Basic-details-list">
              <h5>Basic Details</h5>
               <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
              <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
              <ng-template #Prodconfirm>   
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12 mb-xs-10">
                      <h5 class="fs15">
                        Onboarding request ID {{ confirmMsgProd }} has been created
                        sucessfully.
                      </h5>
                      <h5 class="fs15">
                        Please visit Account -> Onboarding Request to check the request
                        status.
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ta-center">
                  <div class="row w100p m0">
                    <div class="col-12 plr0">
                      <div>
                        <button type="submit" class="signInBtn" (click)="Close_ConfirmProd()">
                          Ok
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <!-- End Modalbox -->
              <!--Production Confirmation alert modalbox -->
              <!-- End Modalbox -->
              <div formGroupName="basicDetailsSection" class="row">
                <div class="form-group col-md-6">
                  <label for="merchantName">Full Name <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="merchantName"
                    formControlName="merchantName" placeholder="Your Organization Name">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.merchantName').valid"
                    class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.merchantName').valid && reactiveForm.get('basicDetailsSection.merchantName').touched"
                    class="text-danger form-error">
                    Merchant Name is required.
                  </div>
                  <!-- ======== -->
                </div>


                <div class="form-group col-md-6">
                  <label for="Description">Email <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="Description"
                    formControlName="description"
                    placeholder="Brief description of your product for which ICICI Bank APIs will be leveraged">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.description').valid"
                    class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.description').valid && reactiveForm.get('basicDetailsSection.description').touched"
                    class="text-danger form-error">
                    Description is required.
                  </div>
                  <!-- ======== -->
                </div>

                <div class="form-group col-md-6">
                  <label for="Email_ID">Company Name<span class="text-danger"> *</span></label>
                  <input type="email" class="form-control mainField col-md-11 inline_block" id="Email_ID"
                    formControlName="email_id" placeholder="Your Email ID">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.email_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="(reactiveForm.get('basicDetailsSection.email_id').invalid && reactiveForm.get('basicDetailsSection.email_id').touched) || reactiveForm.get('basicDetailsSection.email_id').dirty">
                    <!-- <div *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.required" -->
                    <div *ngIf="(reactiveForm.get('basicDetailsSection.email_id').invalid && reactiveForm.get('basicDetailsSection.email_id').touched)"

                      class="text-danger form-error">Email id is required.</div>
                    <!--question mark(?) is a safe navigation operator-->
                    <!-- <div *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.pattern"
                      class="text-danger form-error">Please provide a valid email address</div> -->
                  </div>


                  <!--
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.email_id').valid && reactiveForm.get('basicDetailsSection.email_id').touched"
                    class="text-danger form-error">
                    Email id is required.
                  </div>
                  <div
                    *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.pattern && reactiveForm.get('basicDetailsSection.email_id').touched"
                    class="text-danger form-error">
                    Please provide a valid email address.
                  </div>
                   ======== -->
                </div>

                <div class="form-group col-md-6">
                  <label for="Contact_No">Domain Name <span class="text-danger"> *</span></label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="Contact_No"
                    formControlName="contact_no" placeholder="Your Contact Number">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.contact_no').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="(reactiveForm.get('basicDetailsSection.contact_no').invalid && reactiveForm.get('basicDetailsSection.contact_no').touched) || reactiveForm.get('basicDetailsSection.contact_no').dirty">
                    <div *ngIf="reactiveForm.get('basicDetailsSection.contact_no').errors?.required"
                      class="text-danger form-error">Contact no is required.</div>
                    <!--question mark(?) is a safe navigation operator-->
                    <div *ngIf="reactiveForm.get('basicDetailsSection.contact_no').errors?.pattern"
                      class="text-danger form-error">Please provide a valid contact no</div>
                  </div>
                  <!--
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.contact_no').valid && reactiveForm.get('basicDetailsSection.contact_no').touched"
                    class="text-danger form-error">
                    Contact no is required.
                  </div>
                  ======== -->
                </div>


                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">Pin Code <span
                      class="text-danger"> *</span></label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">ICICI Bank RM Employee ID  <span
                      class="text-danger"> *</span></label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">Partner Code </label><a data-toggle="tooltip" href="#" title="Enter zero in numeric(0) as default value"><img alt="loader" class="ml2 cursor_pointer" src="assets/images/information.png"></a>

                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
              </div>

              </div>
              
          </div>
        <!-- </div> -->
      </div>

      <div #BasicDetailsList class="tabContentInner" id="secondSection">
        <!-- <div class="row m0"> -->
          <div class="container" style="    text-align: initial;">
            <div class="" id="Basic-details-list">
              <h5>Mobile number</h5>
               <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
              <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
             
              <!-- End Modalbox -->
              <!--Production Confirmation alert modalbox -->
              <!-- End Modalbox -->
              <div formGroupName="basicDetailsSection" class="row">
                <div class="form-group col-md-6">
                  <label for="merchantName">Enter your mobile number</label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="merchantName"
                    formControlName="merchantName" placeholder="Your Organization Name">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.merchantName').valid"
                    class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.merchantName').valid && reactiveForm.get('basicDetailsSection.merchantName').touched"
                    class="text-danger form-error">
                    Merchant Name is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6"></div>


                <div class="form-group col-md-6">
                  <label for="Description">Otp</label>
                  <input type="text" class="form-control mainField col-md-11 inline_block" id="Description"
                    formControlName="description"
                    placeholder="Brief description of your product for which ICICI Bank APIs will be leveraged">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.description').valid"
                    class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.description').valid && reactiveForm.get('basicDetailsSection.description').touched"
                    class="text-danger form-error">
                    Description is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6"><a class="signInBtn ng-star-inserted">Send OTP</a></div>
                <div class="form-group col-md-6"></div>


            

               
                
              </div>

              </div>
              
          </div>
        <!-- </div> -->
      </div>

      <div #BasicDetailsList class="tabContentInner" id="secondSection">
        <!-- <div class="row m0"> -->
          <div class="container" style="    text-align: initial;">
            <div class="" id="Basic-details-list">
              <h5>Credentials</h5>
               <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
              <!-- ===================================== -->
              <!--Production Confirmation alert modalbox -->
             
              <!-- End Modalbox -->
              <!--Production Confirmation alert modalbox -->
              <!-- End Modalbox -->
              <div formGroupName="basicDetailsSection" class="row">
                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">User Name:</label>

                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">Password:</label>

                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6"></div>

                <div class="form-group col-md-6">
                  <label for="r_m_maild_id">Confirm Password:</label>

                  <input type="text" class="form-control mainField col-md-11 inline_block" id="r_m_maild_id"
                    formControlName="r_m_maild_id"
                    placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                  <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                    class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>
                  <!-- validation -->
                  <div
                    *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                    class="text-danger form-error">
                    Relationship Manager/Email ID/Employee ID is required.
                  </div>
                  <!-- ======== -->
                </div>
                <div class="form-group col-md-6"></div>
               

                <div class="form-group col-md-6"><a class="signInBtn ng-star-inserted pull-right">Sign Up</a></div>
               
                <div class="form-group col-md-6"></div>

            

               
                
              </div>

              </div>
              
          </div>
        <!-- </div> -->
      </div>


      

        
              
    </form>
  </div>
  
</div>
</div>
</div>