<div id="container">
  <app-production-sidebar (notify)="parentMethod($event)" [domainName]="parentDataDomainName">
  </app-production-sidebar>
  <div class="documentTabContent">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
        dashboard</div>
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
      <!-- =========================================================================================================== -->
      <!-- Reactive form starts -->
      <!-- =========================================================================================================== -->
      <form [formGroup]="reactiveForm" nonvalidate>
        <!-- =========================================================================================================== -->
        <!-- first section of uat starts -->
        <!-- =========================================================================================================== -->
        <div #BasicDetailsList class="tabContentInner" id="Basic_Details_Section">
          <div class="row m0">
            <div class="container">
              <div class="" id="Basic-details-list">
                <h5>Basic Details</h5>
                <!-- ===================================== -->
                <!--Production Confirmation alert modalbox -->
                <!-- ===================================== -->
                <!--Production Confirmation alert modalbox -->
                <ng-template #Prodconfirm>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12 mb-xs-10">
                        <h5 class="fs15">
                          Onboarding request ID {{ confirmMsgProd }} has been created
                          sucessfully.
                        </h5>
                        <h5 class="fs15">
                          Please visit Account -> Onboarding Request to check the request
                          status.
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer ta-center">
                    <div class="row w100p m0">
                      <div class="col-12 plr0">
                        <div>
                          <button type="submit" class="signInBtn" (click)="Close_ConfirmProd()">
                            Ok
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <!-- End Modalbox -->
                <!--Production Confirmation alert modalbox -->
                <!-- End Modalbox -->




                <div formGroupName="basicDetailsSection" class="row">
                  <div class="form-group col-md-6">
                    <label for="merchantName">Request Id<span class="text-danger"> *</span></label>
                    <select  class="form-control  col-md-11 inline_block ng-pristine ng-invalid ng-touched fs12" (change)="changeItem($event.target.value)"  formControlName="JiraId">
                      <option value="Approved/Complete UAT Request ID" (click)="forResetiingAdditionalFields()">Approved/Complete UAT Request ID</option>                     
                      <option  *ngFor="let i of list" [value]="i.JiraId" > {{i.JiraId}}</option>
                      </select>
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.merchantName').valid"
                      class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <div
                      *ngIf="!list.length>0"
                      class="text-danger form-error">
                      No Approved JiraId available
                    </div>
                    <!-- ======== -->
                  </div>
                  <div class="form-group col-md-6">
                    <label for="merchantName">Merchant Name <span class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly id="merchantName"
                      formControlName="merchantName" placeholder="Your Organization Name">
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.merchantName').valid"
                      class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <!-- <div
                      *ngIf="!reactiveForm.get('basicDetailsSection.merchantName').valid && reactiveForm.get('basicDetailsSection.merchantName').touched"
                      class="text-danger form-error">
                      Merchant Name is required.
                    </div> -->
                    <!-- ======== -->
                  </div>


                  <div class="form-group col-md-6">
                    <label for="Description">Description <span class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly id="Description"
                      formControlName="description"
                      placeholder="Brief description of your product for which ICICI Bank APIs will be leveraged">
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.description').valid"
                      class="fa fa-check-circle col-md-1 orange margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <!-- <div
                      *ngIf="!reactiveForm.get('basicDetailsSection.description').valid && reactiveForm.get('basicDetailsSection.description').touched"
                      class="text-danger form-error">
                      Description is required.
                    </div> -->
                    <!-- ======== -->
                  </div>

                  <div class="form-group col-md-6">
                    <label for="Email_ID">Email ID <span class="text-danger"> *</span></label>
                    <input type="email" class="form-control  col-md-11 inline_block" readonly id="Email_ID"
                      formControlName="email_id" placeholder="Your Email ID">
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.email_id').valid"
                      class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <div
                      *ngIf="(reactiveForm.get('basicDetailsSection.email_id').invalid && reactiveForm.get('basicDetailsSection.email_id').touched) || reactiveForm.get('basicDetailsSection.email_id').dirty">
                      <div *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.required"
                        class="text-danger form-error">Email id is required.</div>
                      <!--question mark(?) is a safe navigation operator-->
                      <!-- <div *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.pattern"
                        class="text-danger form-error">Please provide a valid email address</div> -->
                    </div>


                    <!--
                    <div
                      *ngIf="!reactiveForm.get('basicDetailsSection.email_id').valid && reactiveForm.get('basicDetailsSection.email_id').touched"
                      class="text-danger form-error">
                      Email id is required.
                    </div>
                    <div
                      *ngIf="reactiveForm.get('basicDetailsSection.email_id').errors?.pattern && reactiveForm.get('basicDetailsSection.email_id').touched"
                      class="text-danger form-error">
                      Please provide a valid email address.
                    </div>
                     ======== -->
                  </div>

                  <div class="form-group col-md-6">
                    <label for="Contact_No">Contact No <span class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly id="Contact_No"
                      formControlName="contact_no" placeholder="Your Contact Number">
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.contact_no').valid"
                      class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <!-- <div
                      *ngIf="(reactiveForm.get('basicDetailsSection.contact_no').invalid && reactiveForm.get('basicDetailsSection.contact_no').touched) || reactiveForm.get('basicDetailsSection.contact_no').dirty">
                      <div *ngIf="reactiveForm.get('basicDetailsSection.contact_no').errors?.required"
                        class="text-danger form-error">Contact no is required.</div> -->
                      <!--question mark(?) is a safe navigation operator-->
                      <!-- <div *ngIf="reactiveForm.get('basicDetailsSection.contact_no').errors?.pattern"
                        class="text-danger form-error">Please provide a valid contact no</div> -->
                    <!-- </div> -->
                    <!--
                    <div
                      *ngIf="!reactiveForm.get('basicDetailsSection.contact_no').valid && reactiveForm.get('basicDetailsSection.contact_no').touched"
                      class="text-danger form-error">
                      Contact no is required.
                    </div>
                    ======== -->
                  </div>


                  <div class="form-group col-md-6">
                    <label for="r_m_maild_id">ICICI Bank Relationship Manager /Email ID/Employee ID <span
                        class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly id="r_m_maild_id"
                      formControlName="r_m_maild_id"
                      placeholder="Name/Email ID of ICICI Bank RM with whom your are liaising">
                    <!-- <i *ngIf="reactiveForm.get('basicDetailsSection.r_m_maild_id').valid"
                      class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i> -->
                    <!-- validation -->
                    <!-- <div
                      *ngIf="!reactiveForm.get('basicDetailsSection.r_m_maild_id').valid && reactiveForm.get('basicDetailsSection.r_m_maild_id').touched"
                      class="text-danger form-error">
                      Relationship Manager/Email ID/Employee ID is required.
                    </div> -->
                    <!-- ======== -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- =========================================================================================================== -->
        <!-- first section ends here -->
        <!-- =========================================================================================================== -->

        <hr class="margin_0px" />
        <!-- =========================================================================================================== -->
        <!-- second section starts here -->
        <!-- =========================================================================================================== -->
        <!-- <div class="tabContentInner" [ngClass]="reactiveForm.get('basicDetailsSection').invalid ?  'overlay_parent':''">  -->
        <div class="tabContentInner">
          <div class="row m0">
            <div class="container">

              <div #RequestedApiList class="" id="Requested-api-list">


                <!-- <div class="form-group col-md-6" formGroupName="nestedCheckboxesList"> -->

                <div class="row" formGroupName="nestedCheckboxesList" id="scndSectionWhitelistIp">
                    <div class="col-md-12">
                    <h5 class="">Requested API</h5>
                    </div>
                  <div class="form-group col-md-6">
                    <label for="r_m_maild_id">Domain<span
                        class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly
                      formControlName="domain" placeholder="Domain">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="r_m_maild_id">Domain API<span
                        class="text-danger"> *</span></label>
                    <input type="text" class="form-control  col-md-11 inline_block" readonly
                      formControlName="domainApi" placeholder="Domain">
                  </div>
                  
                  



                  <!-- Cart end here-->

                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                  <div class="col-md-11 padding_0px">

                    <button #continueButtonSecondSection class="signInBtn ContinueBtn btn-dark  pull-right"
                      name="continueBtn" ng-reflect-klass="signInBtn" ng-reflect-ng-class="btn-dark" type="button" dat-attr="reactiveForm.controls.basicDetailsSection"
                      [disabled]="reactiveForm.controls.basicDetailsSection.get('JiraId').value=='Approved/Complete UAT Request ID'"  (click)="onClickContinueBtn()"> Continue
                    </button>
                  </div>
                </div>

                  <!-- ------------------------------------------------- -->

                  <!-- =================================================== -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- =========================================================================================================== -->
        <!-- second section ends here -->
        <!--========================================2nd section========================================================= -->

        <!---->
        <!-- -->
        <!-- <hr class="margin_0px" *ngIf="parentDataDomainName === 'Business-banking'" /> -->


        <hr class="margin_0px" />
        <!-- =========================================================================================================== -->
        <!-- third section starts here -->
        <!--================================================================================================= -->

        <!-- <div [ngClass]="reactiveForm.get('basicDetailsSection').invalid ?  'overlay_parent':''" id="thrdSection">
          <div class="tabContentInner overlay_parent" id="thrdSectionChld"> -->

            <div>
          <div class="tabContentInner">
            <div class="row m0">
              <div class="container">
                <h5>Additional Field</h5>
                <div #whitelistIpList class="" id="whitelist-ip-list">


                  <!-- ================================================================================================================= -->
                  <!-- additional fields whitelistIpSection-->
                  <!-- ================================================================================================================== -->


                  <!-- <div formGroupName="additionalFieldSection" class="row" id="additionalFieldBasedOnSelection"> -->
                  <div formGroupName="whitelistIpSection" class="row" id="whitelistIpSectionBasedOnSelection">
                    <div class="form-group col-md-6" *ngIf="accNo">
                      <!-- <div class="form-group col-md-6"> -->

                      <div><label for="contract">Account Number</label></div>
                      <input class="form-control col-md-11" placeholder="Your Account number" type="text"
                        formControlName="AccountNo" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="accName">
                      <!-- <div class="form-group col-md-6"> -->
                      <div>
                        <label for="Acc_name">Account Name</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Account Name" type="text"
                        formControlName="Acc_name" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="interAccNo">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="contract">Customer Credit A/C Number - Intermediate Account</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Customer Credit A/C Number" type="text"
                        formControlName="Account_no" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="clientCode">
                      <div><label for="contract">Client code</label></div>
                      <input class="form-control col-md-11" placeholder="Your Client code" type="text"
                        formControlName="clientCode" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="checksum">
                      <!-- <div class="form-group col-md-6"> -->

                      <div><label for="projectName">Checksum Required </label></div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="Checksum">
                          <option value="Select Checksum">Select Checksum</option>
                          <option *ngFor="let option of yesNo" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="encryption">
                      <!-- <div class="form-group col-md-6"> -->
                      <div><label for="projectName">Encryption Required</label></div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="Encryption"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Encryption">Select Encryption</option>
                          <option *ngFor="let option of yesNo" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>
                    <div class="form-group col-md-6" *ngIf="service">
                      <!-- <div class="form-group col-md-6" > -->

                      <div>
                        <label for="projectName">Service Type</label>
                      </div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="web"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Service Type">Select Service Type</option>
                          <option *ngFor="let option of serviceTypeOption" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>
                    <div class="form-group col-md-6" *ngIf="message">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="projectName"> Communication Method</label>
                      </div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="message"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Communication Method">Select Communication Method</option>
                          <option *ngFor="let option of comTypeOption" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="ifsc">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="projectName">IFSC code to be given to the remitter while initiating
                          payment
                        </label>
                      </div>
                      <span class="custom-dropdown">
                        <select formControlName="IFSC_Code" class="form-control h40 col-md-11"
                          (change)="selectChangeHandler($event)">
                          <option value="Select IFSC Code">Select IFSC Code</option>
                          <option *ngFor="let option of ifscCodeOption" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="virtualCode">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="contract">4,3 or 6 Character Virtual Code</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Your Virtual Code" type="text"
                        formControlName="virtualCode" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="ips">
                      <!-- <div class="form-group col-md-6"> -->

                      <div><label for="contract">IPS Refund Code</label></div>
                      <input class="form-control col-md-11" placeholder="IPS Refund Code" type="text"
                        formControlName="refundCode" />
                    </div>

                    <div class="form-group col-md-6" *ngIf="authLevel">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Auth_level">Authorization Level</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Authorization Level" type="text"
                        formControlName="Auth_level" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="urn">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Urn">URN</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="URN" type="text" formControlName="Urn" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="env">

                      <!-- <div class="form-group col-md-6"> -->
                      <div>
                        <label for="Acc_env">Environment</label>
                      </div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="Acc_env"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Environment">Select Environment</option>
                          <option *ngFor="let option of environmentOption" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="valid">

                      <!-- <div class="form-group col-md-6"> -->
                      <div>
                        <label for="Acc_validation"> Amount Validation Required?</label>
                      </div>
                      <!-- <input class="form-control col-md-11" placeholder="Validation Mode" type="text"
                      formControlName="Acc_validation" /> -->

                      <span class="custom-dropdown">
                        <select formControlName="Acc_validation" class="form-control h40 col-md-11"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Amount Validation">Select Amount Validation</option>
                          <option *ngFor="let option of yesNo" [value]="option">
                            {{option}}
                          </option>

                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="accept">

                      <!-- <div class="form-group col-md-6"> -->
                      <div>
                        <label for="Acc_acceptance">Acceptance Mode</label>
                      </div>
                      <!--<input class="form-control col-md-11" placeholder="Acceptance Mode" type="text"
                        formControlName="Acc_acceptance" />-->
                      <span class="custom-dropdown">
                        <select formControlName="Acc_acceptance" class="form-control h40 col-md-11"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Acceptance Mode">Select Acceptance Mode</option>

                          <option *ngFor="let option of paymentMode" [value]="option">
                            {{option}}
                          </option>

                        </select>
                      </span>
                    </div>
                    <div class="form-group col-md-6" *ngIf="recipient">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Rec_mail">Recipient Mail ID</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Recipient Mail ID" type="text"
                        formControlName="Rec_mail" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="mode">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Acc_mode">Mode Offered</label>
                      </div>
                      <input class="form-control col-md-11" placeholder="Mode Offered" type="text"
                        formControlName="Acc_mode" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="trans">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Acc_trans">Transaction limit for per transaction</label>
                      </div>
                      <input type="number" class="form-control col-md-11" max="5" formControlName="Acc_trans" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="amount">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Acc_amount"> Amount Field</label>
                      </div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="Acc_amount"
                          (change)="selectChangeHandler($event)">
                          <option value="Select Amount">Select Amount</option>
                          <option>Editable</option>
                          <option>Non- Editable</option>
                        </select>
                      </span>
                    </div>
                    <div class="form-group col-md-6" *ngIf="headers">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="Header">Header</label>
                      </div>
                      <input class="form-control  col-md-11" placeholder="Header" type="text"
                        formControlName="header" />
                    </div>
                    <div class="form-group col-md-6" *ngIf="uatTestingID">
                      <!-- <div class="form-group col-md-6"> -->

                      <div>
                        <label for="TestingID">TestingID</label>
                      </div>
                      <input class="form-control  col-md-11" placeholder="TestingID" type="text"
                        formControlName="uatTestingID" />
                      <!-- validation -->
                      <!-- <div
                        *ngIf="!reactiveForm.get('whitelistIpSection.TestingID').valid && reactiveForm.get('whitelistIpSection.TestingID').touched"
                        class="text-danger form-error">
                        Testing ID is required.
                      </div> -->
                      <!-- ======== -->
                    </div>

                    <!-- ============================= -->
                    <div class="form-group col-md-6 countUrl" *ngIf="url">
                      <div class="width_100prcnt"><label>Callback URL</label>
                        <a data-toggle="tooltip" [title]="callbackURLInfo"><img alt="loader" class="ml2 cursor_pointer"
                            src="assets/images/information.png"></a></div>
                      <div formArrayName="url" class="form-group">
                        <!-- =================== -->
                        <div class="row  mb-2"
                          *ngFor="let itemrow of reactiveForm.get('whitelistIpSection').get('url').controls; let i=index">

                          <div class="input-group  col-md-11">
                            <input type="text" class="form-control  urlValues" formControlName="{{i}}"
                              placeholder="Your URL" aria-label="URL" aria-describedby="basic-addon2">

                            <div class="input-group-append">
                              <span *ngIf="i == 0" class="input-group-text add-ip-addon" id="basic-addon2"
                                (click)="addNewURLField()">+</span>
                              <span *ngIf=" i> 0" class="input-group-text add-ip-addon" id="basic-addon2"
                                (click)="deleteURLRow(i)">-</span>
                            </div>

                          </div>
                          <!-- <i *ngIf="reactiveForm.get('whitelistIpSection').get('url').controls[i].valid"
                            class="fa fa-check-circle orange col-md-1 margin_3px margin-leftminus15"
                            aria-hidden="true"></i>-->
                          <div
                            *ngIf="!reactiveForm.get('whitelistIpSection').get('url').controls[i].valid && reactiveForm.get('whitelistIpSection').get('url').controls[i].touched"
                            class="text-danger form-error col-md-12">
                            <!-- <span *ngIf="reactiveForm.get('whitelistIpSection').get('url').controls[i].errors.required">
                              URL is required.</span>-->
                            <span
                              *ngIf="reactiveForm.get('whitelistIpSection').get('url').controls[i].errors.pattern">Please
                              enter correct URL</span>
                          </div>
                        </div>

                        <!-- ==================== -->
                      </div>
                    </div>
                    <!-- =============================== -->
                    <!-- --------------------ip -->
                    <div class="form-group col-md-6  countIp" id="addIPUnique" *ngIf="ip">
                      <div class="width_100prcnt"><label for="contract">IP<span class="text-danger"> *</span></label>
                        <a data-toggle="tooltip" title="You can add maximum 10 IP"><img alt="loader"
                            class="ml2 cursor_pointer" src="assets/images/information.png"></a></div>
                      <div formArrayName="ip" class="form-group">
                        <!-- =================== -->
                        <div class="row  mb-2"
                          *ngFor="let itemrow of reactiveForm.get('whitelistIpSection').get('ip').controls; let i=index">

                          <div class="input-group  col-md-11">
                            <input type="text" class="form-control mainField ipValues" formControlName="{{i}}"
                              placeholder="Your IP" aria-label="IP" aria-describedby="basic-addon2">

                            <div class="input-group-append">
                              <span *ngIf="i == 0" class="input-group-text add-ip-addon" id="basic-addon2"
                                (click)="addNewIPField()">+</span>
                              <span *ngIf=" i> 0" class="input-group-text add-ip-addon" id="basic-addon2"
                                (click)="deleteRow(i)">-</span>
                            </div>

                          </div>
                          <i *ngIf="reactiveForm.get('whitelistIpSection').get('ip').controls[i].valid"
                            class="fa fa-check-circle orange col-md-1 margin_3px margin-leftminus15"
                            aria-hidden="true"></i>
                          <div
                            *ngIf="!reactiveForm.get('whitelistIpSection').get('ip').controls[i].valid && reactiveForm.get('whitelistIpSection').get('ip').controls[i].touched"
                            class="text-danger form-error col-md-12">
                            <span *ngIf="reactiveForm.get('whitelistIpSection').get('ip').controls[i].errors.required">
                              IP
                              is required.</span>
                            <span
                              *ngIf="reactiveForm.get('whitelistIpSection').get('ip').controls[i].errors.pattern">Please
                              enter correct IP</span>
                          </div>
                        </div>

                        <!-- ==================== -->
                      </div>
                    </div>

                    <div class="form-group col-md-6" *ngIf="port">
                      <div class="width_100prcnt"><label for="contract">Port</label></div>
                      <input class="form-control col-md-11" placeholder="Your Port" formControlName="port"
                        type="text" />

                    </div>
                    <!-- ---------------------port -->
                    <div class="form-group col-md-6" *ngIf="certificate">
                      <!-- <div class="form-group col-md-6"> -->
                      <div><label for="projectName">Certificate</label></div>
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="Certificate">
                          <option value="Certificate">Select Certificate</option>
                          <option *ngFor="let option of certificateOption" [value]="option">
                            {{option}}
                          </option>
                        </select>
                      </span>
                    </div>

                    <div class="form-group col-md-6" *ngIf="refJIRAID">
                      <div>
                        <label for="refJIRAID">Reference JIRA ID</label>
                      </div>
                      <input class="form-control  col-md-11" placeholder="Reference JIRA ID" type="text"
                        formControlName="refJIRAID" />
                    </div>

                    <!-- ===================================== -->

                    <div class="form-group col-md-6">
                      <label for="r_m_maild_id">Certificate Upload <span class="text-danger"> *</span></label>
                      <a data-toggle="tooltip"
                        title="Please upload zip file of SSL Certificate and Encryption Certificate"><img alt="loader"
                          class="ml2 cursor_pointer" src="assets/images/information.png"></a>
                      <input type="file"
                        accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed"
                        id="file1" formControlName="file1"
                        class="form-control input_type_attachment mainField col-md-11 inline_block">
                      <i *ngIf="reactiveForm.get('whitelistIpSection.file1').valid"
                        class="fa fa-check-circle orange col-md-1 margin_3px" aria-hidden="true"></i>

                      <div
                        *ngIf="!reactiveForm.get('whitelistIpSection.file1').valid && reactiveForm.get('whitelistIpSection.file1').touched"
                        class="text-danger form-error">
                        Certificate Upload is required.
                      </div>
                    </div>
                    <!--  =========-->
                    <div class="customcsscontainerForTnC col-md-12">
                      <label for="checkbox">
                        <input type="checkbox" id="checkbox" formControlName="checkBox" class="">
                        I ACCEPT NON-DISCLOSURE AGREEMENT, </label>
                      <span><a href="/assets/pdf/test.pdf" target="_blank" class="anchor_color"> Click here to
                          download</a><span class="text-danger"> *</span></span>
                      <div
                        *ngIf="!reactiveForm.get('whitelistIpSection.checkBox').valid && reactiveForm.get('whitelistIpSection.checkBox').touched"
                        class="text-danger" id="checkbox-error">I ACCEPT NON-DISCLOSURE AGREEMENT is required.
                      </div>
                    </div>

                    <!-- ======= -->
                    <!-- <div _ngcontent-c1="" class="col-md-12"><button _ngcontent-c1="" class="signInBtn btn-dark" ng-reflect-klass="signInBtn" ng-reflect-ng-class="btn-dark" type="button"> Submit </button></div> -->

                    <div class="col-md-6"></div>
                  <div class="col-md-6">
                  <div class="col-md-11 padding_0px">
                      <button class="signInBtn btn-dark pull-right" type="button" ng-reflect-klass="signInBtn"
                        ng-reflect-ng-class="btn-dark" [disabled]="!reactiveForm.valid"
                        (click)="onSubmitProductionForm(Prodconfirm)" id="submitButton"> Submit
                      </button>
                    </div>
                    </div>


                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- =========================================================================================================== -->
        <!-- third section ends here -->
        <!--========================================2nd section========================================================= -->
      </form>
      <!-- =========================================================================================================== -->
      <!-- form ends here -->
      <!--========================================2nd section========================================================= -->
    </div>
  </div>