
<div class="container">
  <!-- <div class="documentTabContent" style="overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
  width: 78%;color:#ae282e">
   <div style="float:right;font-weight: bold;">
   <a><span (click)="navigateToOnboarding()"> New Request>> </span></a>
  </div>
   </div> -->
  <div class="tab-content" id="v-pills-tabContent">
    <div
      class="tab-pane fade"
      id="v-pills-dashboard"
      role="tabpanel"
      aria-labelledby="v-pills-dashboard-tab"
    >
      dashboard
    </div>
    <div
      class="tab-pane fade active show"
      id="v-pills-applications"
      role="tabpanel"
      aria-labelledby="v-pills-applications-tab"
    >
      <div class="tabContentInner">
        <div class="row">
          <div class="col-md-10">
         <!--    <h6><span (click)="navigateToOnboarding()" style="float:right;font-weight: bold;color:#ae282e;font-size: 16px;"> DIY Merchant Request>> </span>
            </h6> -->
            <h4 class="color-black30 fs24 ff-semibold mb10">
               DIY Merchant Onboarding Request 
         
           </h4>
              
          </div>
          <div class="col-md-6 text-right">
            <!-- <input class="form-control search-box" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Search"> -->
          </div>
        </div>
        <div class="mb10">
          <!-- <div class="row">
            <p class="col-md-12" style="font-size: 16px;">Filter based on Product Name , Status &amp; Date
            </p>
                
            </div> -->
  
            <div class="row" style="margin-bottom:30px;">
              <div class="col-md-4">       
                <div class="form-group">
                  <label for="issueType">Product Name<span class="text-danger"> *</span></label>
                  <span class="custom-dropdown">
                    <select class="form-control h40 col-md-11 "  id="Product" formControlName="Domain"
                    (change)="onChangeProduct($event)" name="Product">
                    <option selected="selected" value = "All">Select Product</option>
                    <option *ngFor="let option of productDetail; let i = index;" class="product" [value]="option.apiProductName" [id]="option.apiProductName" >
                      <span *ngIf="i==0">{{option.apiProductName}}</span>
                    </option>
                    </select>
                 </span>
                  <!-- <input type="date"  min="{{minDate}}" max="{{maxDate}}" class="form-control mainField col-md-11 inline_block" 
                  formControlName="issueFirstObserved" placeholder="Date"> -->
                  
                </div>
              </div>
              <div class="col-md-4">       
                <div class="form-group">
                  <label for="issueType">Status<span class="text-danger"> *</span></label>
                  <span class="custom-dropdown">
                   <select class="form-control h40 col-md-11 Status" id="Status" formControlName="Checksum"  (change)="onChangeStatus($event)" name="Status">
                     <option selected="selected" value = "All" >Select Status</option>
  
                     <option value="Pending" class="status">Pending</option>
                     <option value="Rejected" class="status">Rejected</option>
  
                     <option value="Approved" class="status">Approved</option>
  
                   </select>
                 </span>
                
                  
                </div>
             </div>
             <div class="col-md-4">       
  </div>
              <!-- <div class="col-md-4">       
                <div class="form-group">
                  <label for="issueType">From Date<span class="text-danger"> *</span></label>
                  <input type="date"  class="form-control mainField col-md-11 inline_block" id="issueFirstObserved"
                  formControlName="issueFirstObserved" placeholder="Issue first observed on">
             
                </div>
              </div>
              <div class="col-md-4">       
                <div class="form-group">
                  <label for="issueType">To Date<span class="text-danger"> *</span></label>
                  <input type="date"  class="form-control mainField col-md-11 inline_block" id="issueFirstObserved"
                  formControlName="issueFirstObserved" placeholder="Issue first observed on">
                  
                  
                </div>
              </div>
              <div _ngcontent-c5="" class="col-md-4">
                <div _ngcontent-c5="" class="form-group">
                  
                   <button _ngcontent-c5="" class="signInBtn mt30 mr10">Search </button>
                  </div>
               </div> -->
              
              
              
  
  <!-- 
              <input type="text" class="col-md-8" (keyup)="onKeydownEvent($event)" [(ngModel)]="searchText"  *ngIf="selectedOption!='Date'"/>
              <input type="text" class="col-md-4" placeholder="Start Date"  *ngIf="selectedOption=='Date'"/>
  
              <input type="text" class="col-md-4" placeholder="End Date"  *ngIf="selectedOption=='Date'"/>
  
            
        <select  style="
        width: 120px;
        font-family: Mulish-Regular;
        font-size: 14px;
        padding: 8px 14px;
        border-radius: 3px;
        border: solid 1px #acacac;
        outline: none;
        background: #ffffff;
    ">
           <option>Product</option>
           <option>Status</option>
  
           <option>Date</option>
  
        </select>  
        <a class="signInBtn"   *ngIf="selectedOption=='Date'" style="margin-left: 30px;">search</a>              -->
              </div>
            </div>
        <table class="table ">
          <thead>
            <tr>
              <td class="width10prcnt">Request ID</td>
              <td  class="width10prcnt Product">Product Name</td>
              <td  class="width10prcnt">Merchant Name</td>
              
              <td  class="width10prcnt">Date</td>
              <td class="width10prcnt">Jira ID</td>
              <td class="width10prcnt">Environment</td>
              <td  class="width10prcnt Status">Status</td>
              <td  class="width10prcnt">Operation</td>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of reqDetailArr | paginate: { itemsPerPage: 10, currentPage: p }  ;let j=index">
              <td (click)="showDetailPage(j)" style="color:green">{{item.reqId}}</td>
              <td  class="Product">{{item.product}}</td>
              <td>{{item.merchantName}}</td>
             
              <td>{{item.reqDt}}</td>
              <td>{{item.jiraId}}</td>
              <td>{{item.environment}}</td>
              <td  class="Status">{{item.status}}</td><!-- need to alter table to have additional status column -->
              <td > 
                <a class="signInBtn ng-star-inserted"   (click)="openModal(View_Detail,(p - 1) * 10 + j)" >View</a></td>
              
             
             
            
          </tr>
          </tbody>
        </table>
        <!--  -->
        <div class="clearfix"></div>
        <div class="pagination pull-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

       
      </div>
    </div>

   
      <!-- ===================================== -->
        <!--Production Confirmation alert modalbox -->
        <!-- ===================================== -->

        <ng-template #View_Detail id="View_Detail">
          <div class="modal-header">
            <h4>Request Detail</h4>
            <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button> -->
            <button data-dismiss="modal" class="material-icons close" (click)="closeMe()">
              close
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mb-xs-10">
                <form id="regForm" autocomplete="off" method="POST" name="regForm" action="">
                  <div class="tab disp-block">
                    <div class="tabContent">
                      <div class="details">
                        <div class="row mb10  pt15 pb15" >
                          <div class="col-md-3"><label><b>Request Id </b></label></div>
                          <div class="col-md-9"><p>{{onboardedMerchantData.reqId}}</p></div>
                      </div> 
                        <div class="row mb10  pt15 pb15" >
                          <div class="col-md-3"><label><b>Product Services </b></label></div>
                          <div class="col-md-9">
                            <ul>
                              <li *ngFor="let item of apiUrl;let j=index ">
                                {{item}}
                              </li>
                            </ul>
                          
                          </div>
                      </div>  

                      <div class="row mb10  pt15 pb15" >
                        <div class="col-md-3"><label><b>IP List</b></label></div>
                        <div class="col-md-9"><p>{{onboardedMerchantData.ipList}}</p></div>
                    </div> 

                    <div class="row mb10  pt15 pb15" >
                      <div class="col-md-3"><label><b>User Uploaded Document </b></label></div>
                      <div class="col-md-9">
                        <a
                        (click)="downloadDocument(onboardedMerchantData.jiraId,'Certificate',onboardedMerchantData.certificate)"
                        
                        >
                      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-earmark-arrow-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zm-.5 3.5a.5.5 0 0 0-1 0v3.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 11.293V7.5z"/>
                      </svg></a>
                        
                       <!--  <button class="signInBtn btn-dark pull-left  mt-3 "  type="button" style="margin-right: 38px;"  (click)="downloadfile('/assets/documents/ICICI_PUBLIC_CERT_UAT.crt',onboardedMerchantData.merchantName)"> Download
                      </button> --></div>
                  </div> 
                  <div class="row mb10  pt15 pb15" >
                    <div class="col-md-3"><label><b>Remarks</b></label></div>
                    <div class="col-md-9"><textarea class="form-control rounded-0" id="remark" rows="25" formControlName="remarks" #remark></textarea></div>
                </div> 
                  <div class="row mb10  pt15 pb15" >
                    <div class="col-md-3"><label><b>Approve/Reject the Reject</b><span class="text-danger"> *</span></label></div>
                    <div class="col-md-9">
                      <span class="custom-dropdown">
                        <select class="form-control h40 col-md-11" formControlName="approveRequest" id="approveRequest" #approveRequest>
                          
                          <option value="approved">
                            Approve
                          </option>
                          <option value="rejected">
                            Reject
                          </option>
                          
                        </select>
                      </span>
      
                      </div>
                  </div> 
                  <button *ngIf="onboardedMerchantData.status && onboardedMerchantData.status.toUpperCase()  !== 'APPROVED'" class="signInBtn btn-dark pull-left  mt-3 "  type="button" style="margin-right: 38px;"  (click)="approveDiyOnboardingReq(onboardedMerchantData.reqId,remark.value,approveRequest.value)"> Submit
                  </button>
                      </div>     
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>

        
        <!-- End Modalbox -->
  </div>
  <!-- <div class="copyrightSection">
         <p>Copyright 2017 ICICI Bank Ltd. All rights reserved.</p>
     </div> -->
</div>
